Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: devkit, ngx-async-injector, ngx-forms, ngx-ssr-app, renovate, utils, workspace

fix(deps): :arrow_up: update dependency lint-staged to v15.2.1
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.163.1
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency @nx-squeezer/devkit to ^2.0.1
  packages/renovate/package.json
  packages/workspace/package.json
Due: renovate, workspace

fix(deps): :arrow_up: update dependency @jscutlery/semver to v5
  package.json
Due: none

fix(deps): set nx-squeezer/devkit as peer dep
  packages/renovate/package.json
  packages/workspace/package.json
Due: renovate, workspace

chore: improve migrate workflow
  .github/workflows/migrate.yml
  package.json
Due: none

chore: :arrow_up: migrate Nx workspace
  .env
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: devkit, renovate, workspace

chore: :arrow_up: migrate Nx workspace (#1185)
  .env
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: devkit, renovate, workspace

fix(deps): :arrow_up: update dependency renovate to v37.168.5
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @types/node to ^18.19.12
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @types/node to v20
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @types/node to v20 (#1188)
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo to v18
  packages/devkit/package.json
  packages/workspace/package.json
Due: devkit, workspace

fix(deps): :arrow_up: update dependency @angular/cli to ~17.1.2
  package-lock.json
  package.json
Due: none

feat: widen peer dependency to include Nx v17 and v18
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: devkit, renovate, workspace

chore: regenerate package-lock.json
  package-lock.json
Due: none

feat: widen peer dependency to include Nx v17 and v18 (#1190)
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: devkit, renovate, workspace

feat(deps): :arrow_up: upgrade husky to v9
  packages/devkit/package.json
  packages/workspace/package.json
Due: devkit, workspace

feat(deps): :arrow_up: upgrade husky to v9 (#1191)
  packages/devkit/package.json
  packages/workspace/package.json
Due: devkit, workspace

chore(devkit): :package: release version 3.0.0 [skip ci]
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

chore(workspace): :package: release version 6.0.0 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

chore(renovate): :package: release version 3.1.0 [skip ci]
  packages/renovate/CHANGELOG.md
  packages/renovate/package.json
Due: renovate

docs: :memo: use compodoc to generate docs
  .github/workflows/ci.yml
  .github/workflows/migrate.yml
  nx-migrate-latest.sh
  nx.json
  nxMonorepo.json
  package-lock.json
  package.json
  packages/devkit/project.json
  packages/utils/project.json
Due: devkit, utils

fix: adjust dependant version on devkit
  packages/renovate/package.json
  packages/workspace/package.json
Due: renovate, workspace

docs: :memo: use compodoc to generate docs (#1192)
  .github/workflows/ci.yml
  .github/workflows/migrate.yml
  nx-migrate-latest.sh
  nx.json
  nxMonorepo.json
  package-lock.json
  package.json
  packages/devkit/project.json
  packages/renovate/package.json
  packages/utils/project.json
  packages/workspace/package.json
Due: devkit, renovate, utils, workspace

chore(devkit): :package: release version 3.0.1 [skip ci]
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

chore(utils): :package: release version 1.0.5 [skip ci]
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: utils

chore(workspace): :package: release version 6.0.1 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

chore(renovate): :package: release version 3.1.1 [skip ci]
  packages/renovate/CHANGELOG.md
  packages/renovate/package.json
Due: renovate

chore: :heavy_minus_sign: remove typedoc
  .codecov.yml
  .github/renovate.json
  .github/workflows/migrate.yml
  .vscode/settings.json
  nx-migrate-latest.sh
  nx.json
  package-lock.json
  package.json
  packages/devkit/typedoc.config.js
  packages/typedoc/.eslintrc.json
  packages/typedoc/README.md
  packages/typedoc/executors.json
  packages/typedoc/jest.config.ts
  packages/typedoc/package.json
  packages/typedoc/project.json
  packages/typedoc/src/executors/typedoc/executor.spec.ts
  packages/typedoc/src/executors/typedoc/executor.ts
  packages/typedoc/src/executors/typedoc/schema.d.ts
  packages/typedoc/src/executors/typedoc/schema.json
  packages/typedoc/src/index.spec.ts
  packages/typedoc/src/index.ts
  packages/typedoc/tsconfig.json
  packages/typedoc/tsconfig.lib.json
  packages/typedoc/tsconfig.spec.json
  packages/utils/typedoc.config.js
  tsconfig.base.json
  typedoc.base.js
  typedoc.json
Due: devkit, utils

chore: :heavy_minus_sign: remove typedoc (#1196)
  .codecov.yml
  .github/renovate.json
  .github/workflows/migrate.yml
  .vscode/settings.json
  nx-migrate-latest.sh
  nx.json
  package-lock.json
  package.json
  packages/devkit/typedoc.config.js
  packages/typedoc/.eslintrc.json
  packages/typedoc/README.md
  packages/typedoc/executors.json
  packages/typedoc/jest.config.ts
  packages/typedoc/package.json
  packages/typedoc/project.json
  packages/typedoc/src/executors/typedoc/executor.spec.ts
  packages/typedoc/src/executors/typedoc/executor.ts
  packages/typedoc/src/executors/typedoc/schema.d.ts
  packages/typedoc/src/executors/typedoc/schema.json
  packages/typedoc/src/index.spec.ts
  packages/typedoc/src/index.ts
  packages/typedoc/tsconfig.json
  packages/typedoc/tsconfig.lib.json
  packages/typedoc/tsconfig.spec.json
  packages/utils/typedoc.config.js
  tsconfig.base.json
  typedoc.base.js
  typedoc.json
Due: devkit, utils

docs: :memo: add documentation link
  media/branding/favicon.ico
  nx.json
  packages/ngx-async-injector/README.md
  packages/ngx-async-injector/project.json
  packages/ngx-forms/README.md
  packages/ngx-forms/project.json
  packages/renovate/README.md
  packages/renovate/project.json
Due: ngx-async-injector, ngx-forms, renovate

docs: :memo: add documentation link (#1197)
  media/branding/favicon.ico
  nx.json
  packages/ngx-async-injector/README.md
  packages/ngx-async-injector/project.json
  packages/ngx-forms/README.md
  packages/ngx-forms/project.json
  packages/renovate/README.md
  packages/renovate/project.json
Due: ngx-async-injector, ngx-forms, renovate

Path conditions:
  devkit: any of: packages/devkit
  ngx-async-injector: any of: packages/ngx-async-injector
  ngx-forms: any of: packages/ngx-forms
  ngx-ssr-app: any of: packages/ngx-ssr-app
  renovate: any of: packages/renovate
  utils: any of: packages/utils
  workspace: any of: packages/workspace
