Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: devkit, ngx-async-injector, ngx-forms, ngx-ssr-app, renovate, utils, workspace

chore: regenerate package-lock.json
  package-lock.json
Due: none

chore: fix lint configuration
  nx.json
Due: none

feat: upgrade dependency to nx@17.0.0
  packages/devkit/package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: devkit, renovate, workspace

fix(deps): ⬆️ update nx monorepo to v17 (major) (#1013)
  .github/renovate-config.js
  .gitignore
  .prettierignore
  e2e/devkit-e2e/project.json
  e2e/ngx-async-injector-app/project.json
  e2e/ngx-forms-app/project.json
  e2e/ngx-ssr-app/project.json
  e2e/renovate-e2e/project.json
  e2e/workspace-e2e/project.json
  nx.json
  nxMonorepo.json
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/devkit/project.json
  packages/ngx-async-injector/project.json
  packages/ngx-forms/project.json
  packages/renovate/package.json
  packages/renovate/project.json
  packages/typedoc/project.json
  packages/utils/project.json
  packages/workspace/package.json
  packages/workspace/project.json
Due: devkit, ngx-async-injector, ngx-forms, renovate, utils, workspace

chore(deps): :arrow_up: update actions/setup-node action to v3.8.2
  .github/workflows/ci.yml
  .github/workflows/next.yml
  .github/workflows/release.yml
Due: none

chore(deps): :arrow_up: update dependency @swc/core to v1.3.94
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update tooling
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.31.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.31.1
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update actions/setup-node action to v4
  .github/workflows/ci.yml
  .github/workflows/next.yml
  .github/workflows/release.yml
Due: none

chore(deps): :arrow_up: update actions/setup-node action to v4 (#1019)
  .github/workflows/ci.yml
  .github/workflows/next.yml
  .github/workflows/release.yml
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.31.5
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.31.5 (#1020)
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: devkit, renovate, workspace

chore(deps): :arrow_up: update dependency nx to v17
  packages/workspace/package.json
Due: workspace

fix(workspace): :arrow_up: update peer dependency of nx to v17
  packages/workspace/package.json
Due: workspace

feat(ngx-ssr-app): :wrench: scaffold SSR
  e2e/ngx-ssr-app/project.json
  e2e/ngx-ssr-app/server.ts
  e2e/ngx-ssr-app/src/app/app.component.css
  e2e/ngx-ssr-app/src/app/app.component.html
  e2e/ngx-ssr-app/src/app/app.component.ts
  e2e/ngx-ssr-app/src/app/app.config.server.ts
  e2e/ngx-ssr-app/src/app/app.config.ts
  e2e/ngx-ssr-app/src/app/app.routes.ts
  e2e/ngx-ssr-app/src/app/components/home.component.ts
  e2e/ngx-ssr-app/src/app/nx-welcome.component.ts
  e2e/ngx-ssr-app/src/main.server.ts
  e2e/ngx-ssr-app/tsconfig.editor.json
  e2e/ngx-ssr-app/tsconfig.server.json
  package-lock.json
  package.json
Due: none

test(ngx-ssr-app): :white_check_mark: add e2e test for SSR
  e2e/ngx-ssr-app/.eslintrc.json
  e2e/ngx-ssr-app/cypress.config.ts
  e2e/ngx-ssr-app/cypress/e2e/app.cy.ts
  e2e/ngx-ssr-app/cypress/support/app.po.ts
  e2e/ngx-ssr-app/cypress/support/commands.ts
  e2e/ngx-ssr-app/cypress/support/e2e.ts
  e2e/ngx-ssr-app/cypress/tsconfig.json
  e2e/ngx-ssr-app/project.json
  e2e/ngx-ssr-app/src/app/app.component.spec.ts
  e2e/ngx-ssr-app/tsconfig.json
Due: none

feat(ngx-ssr-app): 🔧 scaffold SSR and e2e (#1021)
  e2e/ngx-ssr-app/.eslintrc.json
  e2e/ngx-ssr-app/cypress.config.ts
  e2e/ngx-ssr-app/cypress/e2e/app.cy.ts
  e2e/ngx-ssr-app/cypress/support/app.po.ts
  e2e/ngx-ssr-app/cypress/support/commands.ts
  e2e/ngx-ssr-app/cypress/support/e2e.ts
  e2e/ngx-ssr-app/cypress/tsconfig.json
  e2e/ngx-ssr-app/project.json
  e2e/ngx-ssr-app/server.ts
  e2e/ngx-ssr-app/src/app/app.component.css
  e2e/ngx-ssr-app/src/app/app.component.html
  e2e/ngx-ssr-app/src/app/app.component.spec.ts
  e2e/ngx-ssr-app/src/app/app.component.ts
  e2e/ngx-ssr-app/src/app/app.config.server.ts
  e2e/ngx-ssr-app/src/app/app.config.ts
  e2e/ngx-ssr-app/src/app/app.routes.ts
  e2e/ngx-ssr-app/src/app/components/home.component.ts
  e2e/ngx-ssr-app/src/app/nx-welcome.component.ts
  e2e/ngx-ssr-app/src/main.server.ts
  e2e/ngx-ssr-app/tsconfig.editor.json
  e2e/ngx-ssr-app/tsconfig.json
  e2e/ngx-ssr-app/tsconfig.server.json
  package-lock.json
  package.json
Due: none

chore: update workspace
  package-lock.json
  package.json
Due: none

chore: update workspace (#1022)
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v39.1.1
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update dependency @nx/devkit to >=16.10.0
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: devkit, renovate, workspace

chore(deps): :lock: refresh
  package-lock.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.37.2
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency eslint-plugin-sonarjs to v0.22.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.40.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.42.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.43.0
  package-lock.json
  package.json
Due: none

Path conditions:
  devkit: any of: packages/devkit
  ngx-async-injector: any of: packages/ngx-async-injector
  ngx-forms: any of: packages/ngx-forms
  ngx-ssr-app: any of: packages/ngx-ssr-app
  renovate: any of: packages/renovate
  utils: any of: packages/utils
  workspace: any of: packages/workspace
