Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, devkit, ngx-async-injector, renovate

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      workspace:
        flags:
          - workspace
      devkit:
        flags:
          - devkit
      ngx-async-injector:
        flags:
          - ngx-async-injector
      renovate:
        flags:
          - renovate
flags:
  workspace:
    paths:
      - packages/workspace
  devkit:
    paths:
      - packages/devkit
  ngx-async-injector:
    paths:
      - packages/ngx-async-injector
  renovate:
    paths:
      - packages/renovate

chore(deps): :arrow_up: update nx monorepo
  package-lock.json
  package.json
Due: none

chore: :package: add build deps explicitly
  nx.json
  packages/renovate/.eslintrc.json
  packages/renovate/package.json
  packages/workspace/.eslintrc.json
  packages/workspace/package.json
Due: workspace, renovate

chore(deps): :arrow_up: update dependency lint-staged to v14
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update dependency lint-staged to v14 (#885)
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update dependency ngx-deploy-npm to v7
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency ngx-deploy-npm to v7 (#865)
  package-lock.json
  package.json
Due: none

chore(devkit): :package: release version 1.2.1 [skip ci]
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

chore(workspace): :package: release version 4.0.2 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

chore(renovate): :package: release version 2.0.1 [skip ci]
  packages/renovate/CHANGELOG.md
  packages/renovate/package.json
Due: renovate

feat(utils): :tada: scaffold new package
  .codecov.yml
  nx.json
  package-lock.json
  package.json
  packages/utils/.eslintrc.json
  packages/utils/.swcrc
  packages/utils/README.md
  packages/utils/jest.config.ts
  packages/utils/package.json
  packages/utils/project.json
  packages/utils/src/index.ts
  packages/utils/src/lib/module-export/default-export.ts
  packages/utils/src/lib/module-export/extract-default-export.spec.ts
  packages/utils/src/lib/module-export/extract-default-export.ts
  packages/utils/tsconfig.json
  packages/utils/tsconfig.lib.json
  packages/utils/tsconfig.spec.json
  tsconfig.base.json
Due: none

feat(utils): :tada: scaffold new package (#886)
  .codecov.yml
  nx.json
  package-lock.json
  package.json
  packages/utils/.eslintrc.json
  packages/utils/.swcrc
  packages/utils/README.md
  packages/utils/jest.config.ts
  packages/utils/package.json
  packages/utils/project.json
  packages/utils/src/index.ts
  packages/utils/src/lib/module-export/default-export.ts
  packages/utils/src/lib/module-export/extract-default-export.spec.ts
  packages/utils/src/lib/module-export/extract-default-export.ts
  packages/utils/tsconfig.json
  packages/utils/tsconfig.lib.json
  packages/utils/tsconfig.spec.json
  tsconfig.base.json
Due: none

chore(utils): :wrench: setup release
  .vscode/settings.json
  README.md
  packages/utils/.swcrc
  packages/utils/jest.config.ts
  packages/utils/package.json
  packages/utils/project.json
Due: none

chore(utils): :package: release version 0.1.0 [skip ci]
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: none

feat(utils): :sparkles: first stable version
  packages/utils/README.md
Due: none

feat(utils): :sparkles: first stable version (#888)
  packages/utils/README.md
Due: none

chore(utils): :package: release version 1.0.0 [skip ci]
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: none

feat(ngx-forms): :package: import utils from @nx-squeezer/utils
  packages/ngx-forms/package.json
  packages/ngx-forms/src/lib/functions/extract-default-export.spec.ts
  packages/ngx-forms/src/lib/functions/extract-default-export.ts
  packages/ngx-forms/src/lib/functions/lazy-validator.ts
  packages/ngx-forms/src/lib/types/default-export.ts
  packages/ngx-forms/src/lib/types/load-validator-fn.ts
Due: none

fix(ngx-forms): :bug: remove wrong export
  packages/ngx-forms/src/index.ts
Due: none

fix(ngx-forms): :bug: remove import from test
  packages/ngx-forms/src/lib/validators/lazy-validator.ts
Due: none

feat(ngx-forms): :package: import utils from @nx-squeezer/utils (#889)
  packages/ngx-forms/package.json
  packages/ngx-forms/src/index.ts
  packages/ngx-forms/src/lib/functions/extract-default-export.spec.ts
  packages/ngx-forms/src/lib/functions/extract-default-export.ts
  packages/ngx-forms/src/lib/functions/lazy-validator.ts
  packages/ngx-forms/src/lib/types/default-export.ts
  packages/ngx-forms/src/lib/types/load-validator-fn.ts
  packages/ngx-forms/src/lib/validators/lazy-validator.ts
Due: none

chore(ngx-forms): :package: release version 1.1.0 [skip ci]
  packages/ngx-forms/CHANGELOG.md
  packages/ngx-forms/package.json
Due: none

chore: :memo: generate docs with Typedoc
  .github/workflows/release.yml
  .gitignore
  nx.json
  package-lock.json
  package.json
  packages/devkit/project.json
  packages/devkit/typedoc.config.js
  packages/utils/project.json
  packages/utils/src/lib/module-export/default-export.ts
  packages/utils/src/lib/module-export/extract-default-export.ts
  packages/utils/typedoc.config.js
  typedoc.base.js
Due: devkit

chore: :memo: generate docs with Typedoc (#890)
  .github/workflows/release.yml
  .gitignore
  nx.json
  package-lock.json
  package.json
  packages/devkit/project.json
  packages/devkit/typedoc.config.js
  packages/utils/project.json
  packages/utils/src/lib/module-export/default-export.ts
  packages/utils/src/lib/module-export/extract-default-export.ts
  packages/utils/typedoc.config.js
  typedoc.base.js
Due: devkit

chore(devkit): :package: release version 1.2.2 [skip ci]
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

chore(utils): :package: release version 1.0.1 [skip ci]
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: none

chore(workspace): :package: release version 4.0.3 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

chore(renovate): :package: release version 2.0.2 [skip ci]
  packages/renovate/CHANGELOG.md
  packages/renovate/package.json
Due: renovate

chore(ngx-forms): :package: release version 1.1.1 [skip ci]
  packages/ngx-forms/CHANGELOG.md
  packages/ngx-forms/package.json
Due: none

docs: :memo: add docs to README
  packages/devkit/README.md
  packages/utils/README.md
  packages/utils/src/index.ts
  packages/utils/src/module-export/default-export.ts
  packages/utils/src/module-export/extract-default-export.spec.ts
  packages/utils/src/module-export/extract-default-export.ts
Due: devkit

docs: :memo: add docs to README (#891)
  packages/devkit/README.md
  packages/utils/README.md
  packages/utils/src/index.ts
  packages/utils/src/module-export/default-export.ts
  packages/utils/src/module-export/extract-default-export.spec.ts
  packages/utils/src/module-export/extract-default-export.ts
Due: devkit

chore: :wrench: update workspace layout
  nx.json
Due: none

chore(ngx-async-injector-app): :recycle: move to new path
  apps/ngx-async-injector-app/.eslintrc.json
  apps/ngx-async-injector-app/cypress.config.ts
  apps/ngx-async-injector-app/cypress/e2e/app.cy.ts
  apps/ngx-async-injector-app/cypress/support/app.po.ts
  apps/ngx-async-injector-app/cypress/support/commands.ts
  apps/ngx-async-injector-app/cypress/support/e2e.ts
  apps/ngx-async-injector-app/cypress/tsconfig.json
  apps/ngx-async-injector-app/project.json
  apps/ngx-async-injector-app/src/app/app.component.ts
  apps/ngx-async-injector-app/src/app/app.routes.ts
  apps/ngx-async-injector-app/src/app/async-providers/eighth.provider.ts
  apps/ngx-async-injector-app/src/app/async-providers/fifth.provider.ts
  apps/ngx-async-injector-app/src/app/async-providers/first.provider.ts
  apps/ngx-async-injector-app/src/app/async-providers/fourth.provider.ts
  apps/ngx-async-injector-app/src/app/async-providers/multi.provider.ts
  apps/ngx-async-injector-app/src/app/async-providers/second.provider.ts
  apps/ngx-async-injector-app/src/app/async-providers/seventh.provider.ts
  apps/ngx-async-injector-app/src/app/async-providers/sixth.provider.ts
  apps/ngx-async-injector-app/src/app/async-providers/third.provider.ts
  apps/ngx-async-injector-app/src/app/async-tokens/eighth.token.ts
  apps/ngx-async-injector-app/src/app/async-tokens/fifth.token.ts
  apps/ngx-async-injector-app/src/app/async-tokens/first.token.ts
  apps/ngx-async-injector-app/src/app/async-tokens/fourth.token.ts
  apps/ngx-async-injector-app/src/app/async-tokens/multi-provider.token.ts
  apps/ngx-async-injector-app/src/app/async-tokens/second.token.ts
  apps/ngx-async-injector-app/src/app/async-tokens/seventh.token.ts
  apps/ngx-async-injector-app/src/app/async-tokens/sixth.token.ts
  apps/ngx-async-injector-app/src/app/async-tokens/third.token.ts
  apps/ngx-async-injector-app/src/app/child.component.ts
  apps/ngx-async-injector-app/src/app/route.component.ts
  apps/ngx-async-injector-app/src/assets/.gitkeep
  apps/ngx-async-injector-app/src/favicon.ico
  apps/ngx-async-injector-app/src/index.html
  apps/ngx-async-injector-app/src/main.ts
  apps/ngx-async-injector-app/src/styles.css
  apps/ngx-async-injector-app/tsconfig.app.json
  apps/ngx-async-injector-app/tsconfig.editor.json
  apps/ngx-async-injector-app/tsconfig.json
Due: none

chore: :recycle: move ngx-forms-app
  apps/ngx-forms-app/.eslintrc.json
  apps/ngx-forms-app/cypress.config.ts
  apps/ngx-forms-app/cypress/e2e/app.cy.ts
  apps/ngx-forms-app/cypress/support/app.po.ts
  apps/ngx-forms-app/cypress/support/commands.ts
  apps/ngx-forms-app/cypress/support/e2e.ts
  apps/ngx-forms-app/cypress/tsconfig.json
  apps/ngx-forms-app/project.json
  apps/ngx-forms-app/src/app/app.component.ts
  apps/ngx-forms-app/src/app/app.config.ts
  apps/ngx-forms-app/src/app/validator.directive.ts
  apps/ngx-forms-app/src/app/validator.ts
  apps/ngx-forms-app/src/favicon.ico
  apps/ngx-forms-app/src/index.html
  apps/ngx-forms-app/src/main.ts
  apps/ngx-forms-app/src/styles.css
  apps/ngx-forms-app/tsconfig.app.json
  apps/ngx-forms-app/tsconfig.editor.json
  apps/ngx-forms-app/tsconfig.json
Due: none

chore: update folder
  nx.json
Due: none

chore: move node libs
  e2e/devkit-e2e/.eslintrc.json
  e2e/devkit-e2e/jest.config.ts
  e2e/devkit-e2e/project.json
  e2e/devkit-e2e/tests/devkit.spec.ts
  e2e/devkit-e2e/tsconfig.json
  e2e/devkit-e2e/tsconfig.spec.json
  e2e/renovate-e2e/.eslintrc.json
  e2e/renovate-e2e/jest.config.ts
  e2e/renovate-e2e/project.json
  e2e/renovate-e2e/tests/renovate.spec.ts
  e2e/renovate-e2e/tsconfig.json
  e2e/renovate-e2e/tsconfig.spec.json
  e2e/workspace-e2e/.eslintrc.json
  e2e/workspace-e2e/jest.config.ts
  e2e/workspace-e2e/project.json
  e2e/workspace-e2e/tests/workspace.spec.ts
  e2e/workspace-e2e/tsconfig.json
  e2e/workspace-e2e/tsconfig.spec.json
Due: none
