Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, devkit, ngx-async-injector, renovate

fix(deps): :arrow_up: update nrwl workspace to v15.2.7
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.46.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.46.1
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @commitlint/config-angular to v17.6.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update all non-major dependencies to v17.6.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @swc/core to v1.3.50
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.47.0
  package-lock.json
  package.json
Due: none

Revert "chore($workspace): :package: release version 1.0.0 [skip ci]"
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

Revert "chore($ngx-async-injector): :package: release version 1.0.0 [skip ci]"
  packages/ngx-async-injector/CHANGELOG.md
  packages/ngx-async-injector/package.json
Due: ngx-async-injector

Revert "chore($devkit): :package: release version 0.1.0 [skip ci]"
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

ci: :package: make release manual process
  .github/workflows/release.yml
Due: none

chore: :hammer: fix release configuration
  .github/WORKFLOW_ISSUE.md
  .github/workflows/release.yml
  nx.json
  packages/workspace/nx-migrations.json
  packages/workspace/package.json
Due: workspace

chore: :hammer: fix release configuration (#616)
  .github/WORKFLOW_ISSUE.md
  .github/workflows/release.yml
  nx.json
  packages/workspace/nx-migrations.json
  packages/workspace/package.json
Due: workspace

chore(devkit): :package: release version 0.3.0 [skip ci]
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

chore(ngx-async-injector): :package: release version 1.0.5 [skip ci]
  packages/ngx-async-injector/CHANGELOG.md
  packages/ngx-async-injector/package.json
Due: ngx-async-injector

chore(workspace): :package: release version 2.1.2 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

docs: :memo: cleanup changelogs
  .github/WORKFLOW_ISSUE.md
  packages/devkit/CHANGELOG.md
  packages/ngx-async-injector/CHANGELOG.md
  packages/workspace/CHANGELOG.md
Due: workspace, devkit, ngx-async-injector

chore(devkit): :package: release version 0.3.1 [skip ci]
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

chore(ngx-async-injector): :package: release version 1.0.6 [skip ci]
  packages/ngx-async-injector/CHANGELOG.md
  packages/ngx-async-injector/package.json
Due: ngx-async-injector

chore(workspace): :package: release version 2.1.3 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update tooling to v5.59.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v36.0.3
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update dependency @nrwl/nx-cloud to v16
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @nrwl/nx-cloud to v16 (#621)
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @types/jest to v29.5.1
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.53.1
  package-lock.json
  package.json
Due: none

Path conditions:
  workspace: any of: packages/workspace
  devkit: any of: packages/devkit
  ngx-async-injector: any of: packages/ngx-async-injector
  renovate: any of: packages/renovate
