Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, ng-async-injector

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      workspace:
        flags:
          - workspace
      ng-async-injector:
        flags:
          - ng-async-injector
flags:
  workspace:
    paths:
      - packages/workspace
  ng-async-injector:
    paths:
      - packages/ng-async-injector

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v34.109.1
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update tooling
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency postcss-preset-env to v8
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency postcss-preset-env to v8 (#385)
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nrwl workspace
  package-lock.json
  package.json
  packages/ng-async-injector/package.json
  packages/workspace/package.json
Due: workspace, ng-async-injector

feat(ng-async-injector): :sparkles: support hierarchical injectors
  .vscode/settings.json
  packages/ng-async-injector-app/src/app/app.routes.ts
  packages/ng-async-injector-app/src/app/async-providers/sixth.provider.ts
  packages/ng-async-injector-app/src/app/async-tokens/sixth.token.ts
  packages/ng-async-injector-app/src/app/child.component.ts
  packages/ng-async-injector-e2e/src/e2e/app.cy.ts
  packages/ng-async-injector-e2e/src/support/commands.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: support hierarchical injectors (#387)
  .vscode/settings.json
  packages/ng-async-injector-app/src/app/app.routes.ts
  packages/ng-async-injector-app/src/app/async-providers/sixth.provider.ts
  packages/ng-async-injector-app/src/app/async-tokens/sixth.token.ts
  packages/ng-async-injector-app/src/app/child.component.ts
  packages/ng-async-injector-e2e/src/e2e/app.cy.ts
  packages/ng-async-injector-e2e/src/support/commands.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: support resolve and resolveMany
  packages/ng-async-injector-app/src/app/app.routes.ts
  packages/ng-async-injector-app/src/app/async-providers/seventh.provider.ts
  packages/ng-async-injector-app/src/app/async-tokens/seventh.token.ts
  packages/ng-async-injector-app/src/app/child.component.ts
  packages/ng-async-injector-e2e/src/e2e/app.cy.ts
  packages/ng-async-injector/src/index.ts
  packages/ng-async-injector/src/lib/functions/resolve-many.ts
  packages/ng-async-injector/src/lib/functions/resolve.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: support resolve and resolveMany (#388)
  packages/ng-async-injector-app/src/app/app.routes.ts
  packages/ng-async-injector-app/src/app/async-providers/seventh.provider.ts
  packages/ng-async-injector-app/src/app/async-tokens/seventh.token.ts
  packages/ng-async-injector-app/src/app/child.component.ts
  packages/ng-async-injector-e2e/src/e2e/app.cy.ts
  packages/ng-async-injector/src/index.ts
  packages/ng-async-injector/src/lib/functions/resolve-many.ts
  packages/ng-async-injector/src/lib/functions/resolve.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
Due: ng-async-injector

chore(deps): :arrow_up: update dependency tslib to v2.5.0
  package-lock.json
  package.json
  packages/ng-async-injector/package.json
Due: ng-async-injector

fix(workspace): :pushpin: update dependencies to only required (#390)
  .github/workflows/release.yml
  packages/workspace/package.json
Due: workspace

fix(workspace): :pushpin: update dependencies to only required (#390) (#394)
  .github/workflows/release.yml
  packages/workspace/package.json
Due: workspace

fix(workspace): fix eslint for e2e-projects
  packages/workspace-e2e/tests/workspace.spec.ts
  packages/workspace/src/generators/eslint/generator.spec.ts
  packages/workspace/src/generators/eslint/generator.ts
Due: workspace

fix(workspace): apply changed tsconfig wildcard
  packages/ng-async-injector-app/.eslintrc.json
  packages/ng-async-injector/.eslintrc.json
  packages/workspace-e2e/.eslintrc.json
  packages/workspace/.eslintrc.json
Due: workspace, ng-async-injector

fix(workspace): fix eslint for e2e-projects (#393)
  packages/ng-async-injector-app/.eslintrc.json
  packages/ng-async-injector/.eslintrc.json
  packages/workspace-e2e/.eslintrc.json
  packages/workspace-e2e/tests/workspace.spec.ts
  packages/workspace/.eslintrc.json
  packages/workspace/src/generators/eslint/generator.spec.ts
  packages/workspace/src/generators/eslint/generator.ts
Due: workspace, ng-async-injector

fix(workspace): :pushpin: allow semver minor versions for peer deps (#390)
  packages/workspace/package.json
  packages/workspace/project.json
Due: workspace

fix(workspace): :pushpin: allow semver minor versions for peer deps (#390) (#395)
  packages/workspace/package.json
  packages/workspace/project.json
Due: workspace

chore(workspace): :package: release version 1.2.1 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

feat(ng-async-injector): :sparkles: remove need of providing async injector and handle teardown
  packages/ng-async-injector-app/src/app/app.routes.ts
  packages/ng-async-injector/src/index.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/providers/provide-async-injector.function.spec.ts
  packages/ng-async-injector/src/lib/providers/provide-async-injector.function.ts
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: remove need of providing async injector and handle teardown (#400)
  packages/ng-async-injector-app/src/app/app.routes.ts
  packages/ng-async-injector/src/index.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/providers/provide-async-injector.function.spec.ts
  packages/ng-async-injector/src/lib/providers/provide-async-injector.function.ts
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
Due: ng-async-injector

chore(deps): :lock: refresh
  package-lock.json
Due: none

feat(ng-async-injector): :sparkles: support providing injection tokens in components
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.spec.ts
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
  packages/ng-async-injector/src/lib/tokens/async-injector-initializer.token.ts
Due: ng-async-injector

refactor(workspace): :recycle: use unknown instead of any
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.ts
  packages/ng-async-injector/src/lib/functions/resolve-many.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/interfaces/async-provider-types.ts
  packages/ng-async-injector/src/lib/interfaces/injection-token-type.ts
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
  packages/ng-async-injector/src/lib/utils/calculate-circular-dependencies.function.spec.ts
Due: ng-async-injector

feat(ng-async-injector): ✨ support providing injection tokens in component context (#308) (#403)
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.spec.ts
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.ts
  packages/ng-async-injector/src/lib/functions/resolve-many.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/interfaces/async-provider-types.ts
  packages/ng-async-injector/src/lib/interfaces/injection-token-type.ts
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
  packages/ng-async-injector/src/lib/tokens/async-injector-initializer.token.ts
  packages/ng-async-injector/src/lib/utils/calculate-circular-dependencies.function.spec.ts
Due: ng-async-injector

test(ng-async-injector-e2e): :white_check_mark: add e2e tests for component async provider
  packages/ng-async-injector-app/src/app/async-providers/eighth.provider.ts
  packages/ng-async-injector-app/src/app/async-tokens/eighth.token.ts
  packages/ng-async-injector-app/src/app/child.component.ts
  packages/ng-async-injector-app/src/app/route.component.ts
  packages/ng-async-injector-e2e/src/e2e/app.cy.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
Due: ng-async-injector

test(ng-async-injector-e2e): :white_check_mark: add e2e tests for component async provider (#404)
  packages/ng-async-injector-app/src/app/async-providers/eighth.provider.ts
  packages/ng-async-injector-app/src/app/async-tokens/eighth.token.ts
  packages/ng-async-injector-app/src/app/child.component.ts
  packages/ng-async-injector-app/src/app/route.component.ts
  packages/ng-async-injector-e2e/src/e2e/app.cy.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: support multi providers (#265)
  packages/ng-async-injector/src/lib/injector/async-injector.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: multi provider
  packages/ng-async-injector/src/index.ts
  packages/ng-async-injector/src/lib/functions/is-multi-provider.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/interfaces/array-item.ts
  packages/ng-async-injector/src/lib/interfaces/async-class-provider.ts
  packages/ng-async-injector/src/lib/interfaces/async-factory-provider.ts
  packages/ng-async-injector/src/lib/interfaces/async-multi-provider.ts
  packages/ng-async-injector/src/lib/interfaces/async-static-provider.ts
  packages/ng-async-injector/src/lib/interfaces/async-value-provider.ts
Due: ng-async-injector

test(ng-async-injector-e2e): :white_check_mark: add e2e test
  packages/ng-async-injector-app/src/app/app.routes.ts
  packages/ng-async-injector-app/src/app/async-providers/multi.provider.ts
  packages/ng-async-injector-app/src/app/async-tokens/multi-provider.token.ts
  packages/ng-async-injector-app/src/app/route.component.ts
  packages/ng-async-injector-e2e/src/e2e/app.cy.ts
Due: ng-async-injector

feat(ng-async-injector): ✨ support multi providers (#265) (#405)
  packages/ng-async-injector-app/src/app/app.routes.ts
  packages/ng-async-injector-app/src/app/async-providers/multi.provider.ts
  packages/ng-async-injector-app/src/app/async-tokens/multi-provider.token.ts
  packages/ng-async-injector-app/src/app/route.component.ts
  packages/ng-async-injector-e2e/src/e2e/app.cy.ts
  packages/ng-async-injector/src/index.ts
  packages/ng-async-injector/src/lib/functions/is-multi-provider.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/interfaces/array-item.ts
  packages/ng-async-injector/src/lib/interfaces/async-class-provider.ts
  packages/ng-async-injector/src/lib/interfaces/async-factory-provider.ts
  packages/ng-async-injector/src/lib/interfaces/async-multi-provider.ts
  packages/ng-async-injector/src/lib/interfaces/async-static-provider.ts
  packages/ng-async-injector/src/lib/interfaces/async-value-provider.ts
Due: ng-async-injector
