Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: devkit, ngx-async-injector, ngx-forms, ngx-ssr-app, renovate, utils, workspace

fix(deps): :arrow_up: update dependency renovate to v37.13.3
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency lint-staged to v15
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update dependency lint-staged to v15 (#988)
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

fix(deps): :arrow_up: update dependency renovate to v37.13.4
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.13.7
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.16.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.17.1
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @types/node to v18.18.5
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.18.1
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update github actions
  .github/workflows/ci.yml
  .github/workflows/next.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: devkit, renovate, workspace

chore(deps): :arrow_up: update dependency @types/node to v18.18.6
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.27.1
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update commitlint monorepo to v18
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update commitlint monorepo to v18 (#1004)
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update dependency cypress to v13.3.2
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency lint-staged to v15.0.2
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.28.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency @jscutlery/semver to v4
  package.json
Due: none

chore(renovate): :wrench: force regeneration of package-lock.json
  .github/renovate-config.js
  nxMonorepo.json
Due: none

fix(deps): ⬆️ update nx monorepo to v17 (major)
  .gitignore
  .prettierignore
  e2e/devkit-e2e/project.json
  e2e/ngx-async-injector-app/project.json
  e2e/ngx-forms-app/project.json
  e2e/ngx-ssr-app/project.json
  e2e/renovate-e2e/project.json
  e2e/workspace-e2e/project.json
  nx.json
  package-lock.json
  package.json
  packages/devkit/project.json
  packages/ngx-async-injector/project.json
  packages/ngx-forms/project.json
  packages/renovate/project.json
  packages/typedoc/project.json
  packages/utils/project.json
  packages/workspace/project.json
Due: devkit, ngx-async-injector, ngx-forms, renovate, utils, workspace

Path conditions:
  devkit: any of: packages/devkit
  ngx-async-injector: any of: packages/ngx-async-injector
  ngx-forms: any of: packages/ngx-forms
  ngx-ssr-app: any of: packages/ngx-ssr-app
  renovate: any of: packages/renovate
  utils: any of: packages/utils
  workspace: any of: packages/workspace
