Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, renovate, ng-async-injector

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      workspace:
        flags:
          - workspace
      renovate:
        flags:
          - renovate
      ng-async-injector:
        flags:
          - ng-async-injector
flags:
  workspace:
    paths:
      - packages/workspace
  renovate:
    paths:
      - packages/renovate
  ng-async-injector:
    paths:
      - packages/ng-async-injector

refactor(ng-async-injector): :recycle: refactor to use for of
  packages/ng-async-injector/src/lib/utils/calculate-circular-dependencies.function.ts
Due: ng-async-injector

chore: :memo: use codecov token
  .github/workflows/ci.yml
Due: none

test(ng-async-injector): :green_heart: enhence tests over cyclic dependency detection (#317)
  .github/workflows/ci.yml
  packages/ng-async-injector/jest.config.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/utils/calculate-circular-dependencies.function.spec.ts
  packages/ng-async-injector/src/lib/utils/calculate-circular-dependencies.function.ts
Due: ng-async-injector

chore(deps): :arrow_up: update tooling
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update renovatebot/github-action action to v34.100.2
  .github/workflows/renovate.yml
Due: none

fix(deps): :arrow_up: update nrwl workspace to v15.1.0
  package-lock.json
  package.json
  packages/ng-async-injector/package.json
Due: ng-async-injector

chore(deps): :arrow_up: update renovatebot/github-action action to v34.102.0
  .github/workflows/renovate.yml
Due: none

fix(deps): :arrow_up: update dependency renovate to v34.97.6
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update dependency ng-packagr to v15.1.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency eslint-import-resolver-typescript to v3.5.3
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v34.98.0
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update dependency @swc/core to v1.3.26
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nrwl workspace
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update nrwl workspace (#326)
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

fix(deps): :arrow_up: update dependency renovate to v34.98.1
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update renovatebot/github-action action to v34.102.1
  .github/workflows/renovate.yml
Due: none

fix(deps): :arrow_up: update dependency renovate to v34.98.2
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update dependency eslint-plugin-sonarjs to v0.18.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v34.99.0
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

fix(deps): :arrow_up: update dependency renovate to v34.99.1
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

fix(deps): :arrow_up: update dependency renovate to v34.99.2
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update renovatebot/github-action action to v34.102.2
  .github/workflows/renovate.yml
Due: none
