Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, renovate, ng-async-injector

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      workspace:
        flags:
          - workspace
      renovate:
        flags:
          - renovate
      ng-async-injector:
        flags:
          - ng-async-injector
flags:
  workspace:
    paths:
      - packages/workspace
  renovate:
    paths:
      - packages/renovate
  ng-async-injector:
    paths:
      - packages/ng-async-injector

chore(deps): :arrow_up: update renovatebot/github-action action to v34.102.2
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update dependency eslint-plugin-import to v2.27.4
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @commitlint/config-angular to v17.4.2
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency @angular/cli to ~15.1.1
  package-lock.json
  package.json
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/providers/provide-async-injector.function.spec.ts
  packages/workspace/src/generators/codecov/generator.spec.ts
  packages/workspace/src/generators/codecov/generator.ts
  packages/workspace/src/generators/commitlint/generator.spec.ts
  packages/workspace/src/generators/commitlint/generator.ts
  packages/workspace/src/generators/contributors/generator.spec.ts
  packages/workspace/src/generators/eslint/generator.spec.ts
  packages/workspace/src/generators/eslint/generator.ts
  packages/workspace/src/generators/github-workflow/generator.spec.ts
  packages/workspace/src/generators/github-workflow/generator.ts
  packages/workspace/src/generators/lib/git/get-git-repo.spec.ts
  packages/workspace/src/generators/lib/husky/husky.spec.ts
  packages/workspace/src/generators/lib/npm/get-npm-package-version.spec.ts
  packages/workspace/src/generators/lib/package-json/add-dependency-to-package-json.spec.ts
  packages/workspace/src/generators/lib/package-json/add-dev-dependency-to-package-json.spec.ts
  packages/workspace/src/generators/lib/tasks/format-workspace-task.spec.ts
  packages/workspace/src/generators/lib/tasks/lint-workspace-task.spec.ts
  packages/workspace/src/generators/lint-staged/generator.spec.ts
  packages/workspace/src/generators/lint-staged/generator.ts
  packages/workspace/src/generators/prettier/generator.spec.ts
  packages/workspace/src/generators/prettier/generator.ts
  packages/workspace/src/generators/renovate/generator.spec.ts
  packages/workspace/src/generators/renovate/generator.ts
  packages/workspace/src/generators/renovate/renovate-config-validator-task.spec.ts
  packages/workspace/src/generators/tsconfig/generator.spec.ts
  packages/workspace/src/generators/tsconfig/generator.ts
Due: workspace, ng-async-injector

chore(deps): :arrow_up: update renovatebot/github-action action to v34.102.7
  .github/workflows/renovate.yml
Due: none

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

fix(deps): :arrow_up: update all non-major dependencies (#339)
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

feat(ng-async-injector-e2e): :sparkles: init e2e app
  .eslintrc.json
  .github/workflows/ci.yml
  .vscode/settings.json
  package-lock.json
  package.json
  packages/ng-async-injector-e2e/.eslintrc.json
  packages/ng-async-injector-e2e/project.json
  packages/ng-async-injector-e2e/src/app/app.component.ts
  packages/ng-async-injector-e2e/src/app/app.routes.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/first.token.ts
  packages/ng-async-injector-e2e/src/app/route.component.ts
  packages/ng-async-injector-e2e/src/assets/.gitkeep
  packages/ng-async-injector-e2e/src/favicon.ico
  packages/ng-async-injector-e2e/src/index.html
  packages/ng-async-injector-e2e/src/main.ts
  packages/ng-async-injector-e2e/src/styles.css
  packages/ng-async-injector-e2e/tsconfig.app.json
  packages/ng-async-injector-e2e/tsconfig.editor.json
  packages/ng-async-injector-e2e/tsconfig.json
  workspace.json
Due: ng-async-injector

feat(ng-async-injector-e2e): :sparkles: init e2e app (#344)
  .eslintrc.json
  .github/workflows/ci.yml
  .vscode/settings.json
  package-lock.json
  package.json
  packages/ng-async-injector-e2e/.eslintrc.json
  packages/ng-async-injector-e2e/project.json
  packages/ng-async-injector-e2e/src/app/app.component.ts
  packages/ng-async-injector-e2e/src/app/app.routes.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/first.token.ts
  packages/ng-async-injector-e2e/src/app/route.component.ts
  packages/ng-async-injector-e2e/src/assets/.gitkeep
  packages/ng-async-injector-e2e/src/favicon.ico
  packages/ng-async-injector-e2e/src/index.html
  packages/ng-async-injector-e2e/src/main.ts
  packages/ng-async-injector-e2e/src/styles.css
  packages/ng-async-injector-e2e/tsconfig.app.json
  packages/ng-async-injector-e2e/tsconfig.editor.json
  packages/ng-async-injector-e2e/tsconfig.json
  workspace.json
Due: ng-async-injector

feat(ng-async-injector-e2e): :sparkles: add more code to e2e app
  .codecov.yml
  packages/ng-async-injector-e2e/src/app/app.routes.ts
  packages/ng-async-injector-e2e/src/app/async-providers/fifth.provider.ts
  packages/ng-async-injector-e2e/src/app/async-providers/first.provider.ts
  packages/ng-async-injector-e2e/src/app/async-providers/fourth.provider.ts
  packages/ng-async-injector-e2e/src/app/async-providers/second.provider.ts
  packages/ng-async-injector-e2e/src/app/async-providers/third.provider.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/fifth.token.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/first.token.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/fourth.token.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/second.token.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/third.token.ts
  packages/ng-async-injector-e2e/src/app/child.component.ts
  packages/ng-async-injector-e2e/src/app/route.component.ts
  packages/ng-async-injector-e2e/src/main.ts
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.ts
Due: ng-async-injector

test(ng-async-injector): :white_check_mark: fix unit test
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.ts
Due: ng-async-injector

test(ng-async-injector-e2e): :white_check_mark: fix coverage
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.spec.ts
Due: ng-async-injector

feat(ng-async-injector-e2e): :sparkles: add more code to e2e app (#346)
  .codecov.yml
  packages/ng-async-injector-e2e/src/app/app.routes.ts
  packages/ng-async-injector-e2e/src/app/async-providers/fifth.provider.ts
  packages/ng-async-injector-e2e/src/app/async-providers/first.provider.ts
  packages/ng-async-injector-e2e/src/app/async-providers/fourth.provider.ts
  packages/ng-async-injector-e2e/src/app/async-providers/second.provider.ts
  packages/ng-async-injector-e2e/src/app/async-providers/third.provider.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/fifth.token.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/first.token.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/fourth.token.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/second.token.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/third.token.ts
  packages/ng-async-injector-e2e/src/app/child.component.ts
  packages/ng-async-injector-e2e/src/app/route.component.ts
  packages/ng-async-injector-e2e/src/main.ts
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.spec.ts
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.ts
Due: ng-async-injector

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v34.106.0
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update tooling
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

fix(deps): :arrow_up: update dependency renovate to v34.105.3
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update ng-easy/npm-setup action to v3
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(deps): :arrow_up: update ng-easy/npm-setup action to v3 (#352)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(deps): :arrow_up: update dependency renovate to v34.105.4
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

fix(deps): :arrow_up: update dependency renovate to v34.105.5
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): ⬆️ update nrwl workspace
  .eslintrc.json
  .prettierrc.json
  .vscode/settings.json
  package-lock.json
  package.json
  packages/ng-async-injector-e2e/src/app/app.component.ts
Due: ng-async-injector

chore(deps): ⬆️ update nrwl workspace (#356)
  .eslintrc.json
  .prettierrc.json
  .vscode/settings.json
  package-lock.json
  package.json
  packages/ng-async-injector-e2e/src/app/app.component.ts
Due: ng-async-injector

chore: :hammer: set implicit dependency on package.json and format files on renovate run
  nx.json
  package.json
Due: none

chore(deps): :arrow_up: update nrwl workspace
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update nrwl workspace (#348)
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update renovatebot/github-action action to v34.108.3
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v34.108.3 (#353)
  .github/workflows/renovate.yml
Due: none

fix(deps): :arrow_up: update nrwl workspace to v15.1.1
  package-lock.json
  package.json
  packages/ng-async-injector/package.json
Due: ng-async-injector
