Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: devkit, ngx-async-injector, ngx-forms, ngx-ssr-app, renovate, utils, workspace

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      devkit:
        flags:
          - devkit
      ngx-async-injector:
        flags:
          - ngx-async-injector
      ngx-forms:
        flags:
          - ngx-forms
      ngx-ssr-app:
        flags:
          - ngx-ssr-app
      renovate:
        flags:
          - renovate
      typedoc:
        flags:
          - typedoc
      utils:
        flags:
          - utils
      workspace:
        flags:
          - workspace
flags:
  devkit:
    paths:
      - packages/devkit
  ngx-async-injector:
    paths:
      - packages/ngx-async-injector
  ngx-forms:
    paths:
      - packages/ngx-forms
  ngx-ssr-app:
    paths:
      - packages/ngx-ssr-app
  renovate:
    paths:
      - packages/renovate
  utils:
    paths:
      - packages/utils
  workspace:
    paths:
      - packages/workspace

chore(devkit): upgrade nx to v17\n\nBREAKING CHANGE: Upgrade to Angular v17
  packages/devkit/package.json
Due: devkit

chore(renovate): upgrade nx to v17\n\nBREAKING CHANGE: Upgrade to Nx v17
  packages/renovate/package.json
Due: renovate

chore(workspace): upgrade nx to v17\n\nBREAKING CHANGE: Upgrade to Nx v17
  packages/workspace/package.json
Due: workspace

chore(devkit): :package: release version 1.2.5 [skip ci]
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

chore(workspace): :package: release version 4.0.6 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

chore(renovate): :package: release version 2.0.5 [skip ci]
  packages/renovate/CHANGELOG.md
  packages/renovate/package.json
Due: renovate

chore(devkit): upgrade Nx to v17
  packages/devkit/package.json
Due: devkit

chore(renovate): upgrade Nx to v17
  packages/renovate/package.json
Due: renovate

chore(workspace): upgrade Nx to v17
  packages/workspace/package.json
Due: workspace

chore(devkit): :package: release version 2.0.0 [skip ci]
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

chore(workspace): :package: release version 5.0.0 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

chore(renovate): :package: release version 3.0.0 [skip ci]
  packages/renovate/CHANGELOG.md
  packages/renovate/package.json
Due: renovate

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update angular monorepo to v17.0.6
  package.json
Due: none

fix(deps): :arrow_up: update dependency @angular/ssr to v17.0.6
  package.json
Due: none

chore(deps): :arrow_up: update dependency @types/node to v20.10.4
  package.json
Due: none

fix: upgrade nx to v17.2.0
  nx-migrate-latest.sh
  package-lock.json
  package.json
Due: none

fix: restore package.json
  nx-migrate-latest.sh
  package-lock.json
  package.json
Due: none

fix: regenerate package-lock.json
  package-lock.json
Due: none

feat(renovate): allow upgrade of node major version
  npm.json
Due: none

chore: upgrade to node v20
  .github/workflows/ci.yml
  .github/workflows/next.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/ngx-async-injector/package.json
  packages/ngx-forms/package.json
  packages/renovate/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: devkit, ngx-async-injector, ngx-forms, renovate, utils, workspace

test: add performance mock
  e2e/renovate-e2e/tests/renovate.spec.ts
Due: none

test: fix failing e2e tests
  e2e/devkit-e2e/jest.config.ts
  e2e/devkit-e2e/setup-jest.ts
  e2e/devkit-e2e/tsconfig.spec.json
  e2e/renovate-e2e/jest.config.ts
  e2e/renovate-e2e/setup-jest.ts
  e2e/renovate-e2e/tests/renovate.spec.ts
  e2e/renovate-e2e/tsconfig.spec.json
  e2e/workspace-e2e/jest.config.ts
  e2e/workspace-e2e/setup-jest.ts
  e2e/workspace-e2e/tsconfig.spec.json
Due: none

fix: upgrade nx to v17.2.0 (#1099)
  .github/workflows/ci.yml
  .github/workflows/next.yml
  .github/workflows/release.yml
  e2e/devkit-e2e/jest.config.ts
  e2e/devkit-e2e/setup-jest.ts
  e2e/devkit-e2e/tsconfig.spec.json
  e2e/renovate-e2e/jest.config.ts
  e2e/renovate-e2e/setup-jest.ts
  e2e/renovate-e2e/tsconfig.spec.json
  e2e/workspace-e2e/jest.config.ts
  e2e/workspace-e2e/setup-jest.ts
  e2e/workspace-e2e/tsconfig.spec.json
  nx-migrate-latest.sh
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/ngx-async-injector/package.json
  packages/ngx-forms/package.json
  packages/renovate/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: devkit, ngx-async-injector, ngx-forms, renovate, utils, workspace

chore(deps): :arrow_up: update tooling to v6.14.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update ng-easy/npm-setup action to v4
  .github/workflows/ci.yml
  .github/workflows/next.yml
  .github/workflows/release.yml
Due: none

chore(deps): :arrow_up: update ng-easy/npm-setup action to v4 (#1100)
  .github/workflows/ci.yml
  .github/workflows/next.yml
  .github/workflows/release.yml
Due: none

fix(deps): :arrow_up: update angular monorepo to v17.0.7
  package.json
Due: none

chore(deps): :arrow_up: update github/codeql-action action to v3
  .github/workflows/codeql-analysis.yml
Due: none

fix(deps): :arrow_up: update all non-major dependencies
  package.json
  packages/devkit/package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: devkit, renovate, workspace

fix(deps): :arrow_up: update all non-major dependencies (#1097)
  package.json
  packages/devkit/package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: devkit, renovate, workspace

chore(deps): :arrow_up: update github actions
  .github/workflows/ci.yml
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update github actions (#1102)
  .github/workflows/ci.yml
  .github/workflows/renovate.yml
Due: none
