Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, ng-async-injector

feat(workspace): :bug: run post upgrade commands on renovate for @nx- scope
  angularWorkspace.json
  groupAllNonMajor.json
  nrwlWorkspace.json
  packages/workspace/src/generators/renovate/presets/angularWorkspace.json
  packages/workspace/src/generators/renovate/presets/groupAllNonMajor.json
  packages/workspace/src/generators/renovate/presets/nrwlWorkspace.json
Due: workspace

chore(deps): :arrow_up: update dependency jest-preset-angular to v12.2.5
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nrwl workspace to v15.1.2
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v34.108.4
  .github/workflows/renovate.yml
Due: none

fix(deps): :arrow_up: update dependency renovate to v34.105.6
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update renovatebot/github-action action to v34.108.5
  .github/workflows/renovate.yml
Due: none

fix(deps): :arrow_up: update dependency renovate to v34.106.0
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

fix(workspace): :bug: configure prettier override for html
  packages/workspace-e2e/tests/workspace.spec.ts
  packages/workspace/.eslintrc.json
  packages/workspace/jest.config.ts
  packages/workspace/migrations.json
  packages/workspace/package.json
  packages/workspace/project.json
  packages/workspace/src/generators/lib/tasks/noop.spec.ts
  packages/workspace/src/generators/prettier/prettier-default-config.ts
  packages/workspace/src/migrations/add-html-override-to-prettier-config/add-html-override-to-prettier-config.spec.ts
  packages/workspace/src/migrations/add-html-override-to-prettier-config/add-html-override-to-prettier-config.ts
Due: workspace

fix(workspace): :bug: configure prettier override for html (#367)
  packages/workspace-e2e/tests/workspace.spec.ts
  packages/workspace/.eslintrc.json
  packages/workspace/jest.config.ts
  packages/workspace/migrations.json
  packages/workspace/package.json
  packages/workspace/project.json
  packages/workspace/src/generators/lib/tasks/noop.spec.ts
  packages/workspace/src/generators/prettier/prettier-default-config.ts
  packages/workspace/src/migrations/add-html-override-to-prettier-config/add-html-override-to-prettier-config.spec.ts
  packages/workspace/src/migrations/add-html-override-to-prettier-config/add-html-override-to-prettier-config.ts
Due: workspace

feat(ng-async-injector-e2e): :white_check_mark: more e2e tests
  README.md
  packages/ng-async-injector-e2e/src/app/async-providers/fifth.provider.ts
  packages/ng-async-injector-e2e/src/app/async-providers/first.provider.ts
  packages/ng-async-injector-e2e/src/app/async-providers/fourth.provider.ts
  packages/ng-async-injector-e2e/src/app/async-providers/second.provider.ts
  packages/ng-async-injector-e2e/src/app/async-providers/third.provider.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/fifth.token.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/first.token.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/fourth.token.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/second.token.ts
  packages/ng-async-injector-e2e/src/app/child.component.ts
  packages/ng-async-injector-e2e/src/app/route.component.ts
Due: ng-async-injector

feat(ng-async-injector-e2e): :white_check_mark: more e2e tests (#368)
  README.md
  packages/ng-async-injector-e2e/src/app/async-providers/fifth.provider.ts
  packages/ng-async-injector-e2e/src/app/async-providers/first.provider.ts
  packages/ng-async-injector-e2e/src/app/async-providers/fourth.provider.ts
  packages/ng-async-injector-e2e/src/app/async-providers/second.provider.ts
  packages/ng-async-injector-e2e/src/app/async-providers/third.provider.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/fifth.token.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/first.token.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/fourth.token.ts
  packages/ng-async-injector-e2e/src/app/async-tokens/second.token.ts
  packages/ng-async-injector-e2e/src/app/child.component.ts
  packages/ng-async-injector-e2e/src/app/route.component.ts
Due: ng-async-injector

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

refactor(ng-async-injector-e2e): :recycle: rename ng-async-injector-e2e to app
  package-lock.json
  package.json
  packages/ng-async-injector-app/.eslintrc.json
  packages/ng-async-injector-app/project.json
  packages/ng-async-injector-app/src/app/app.component.ts
  packages/ng-async-injector-app/src/app/app.routes.ts
  packages/ng-async-injector-app/src/app/async-providers/fifth.provider.ts
  packages/ng-async-injector-app/src/app/async-providers/first.provider.ts
  packages/ng-async-injector-app/src/app/async-providers/fourth.provider.ts
  packages/ng-async-injector-app/src/app/async-providers/second.provider.ts
  packages/ng-async-injector-app/src/app/async-providers/third.provider.ts
  packages/ng-async-injector-app/src/app/async-tokens/fifth.token.ts
  packages/ng-async-injector-app/src/app/async-tokens/first.token.ts
  packages/ng-async-injector-app/src/app/async-tokens/fourth.token.ts
  packages/ng-async-injector-app/src/app/async-tokens/second.token.ts
  packages/ng-async-injector-app/src/app/async-tokens/third.token.ts
  packages/ng-async-injector-app/src/app/child.component.ts
  packages/ng-async-injector-app/src/app/route.component.ts
  packages/ng-async-injector-app/src/assets/.gitkeep
  packages/ng-async-injector-app/src/favicon.ico
  packages/ng-async-injector-app/src/index.html
  packages/ng-async-injector-app/src/main.ts
  packages/ng-async-injector-app/src/styles.css
  packages/ng-async-injector-app/tsconfig.app.json
  packages/ng-async-injector-app/tsconfig.editor.json
  packages/ng-async-injector-app/tsconfig.json
  workspace.json
Due: ng-async-injector

refactor(ng-async-injector-e2e): :recycle: rename ng-async-injector-e2e to app (#370)
  package-lock.json
  package.json
  packages/ng-async-injector-app/.eslintrc.json
  packages/ng-async-injector-app/project.json
  packages/ng-async-injector-app/src/app/app.component.ts
  packages/ng-async-injector-app/src/app/app.routes.ts
  packages/ng-async-injector-app/src/app/async-providers/fifth.provider.ts
  packages/ng-async-injector-app/src/app/async-providers/first.provider.ts
  packages/ng-async-injector-app/src/app/async-providers/fourth.provider.ts
  packages/ng-async-injector-app/src/app/async-providers/second.provider.ts
  packages/ng-async-injector-app/src/app/async-providers/third.provider.ts
  packages/ng-async-injector-app/src/app/async-tokens/fifth.token.ts
  packages/ng-async-injector-app/src/app/async-tokens/first.token.ts
  packages/ng-async-injector-app/src/app/async-tokens/fourth.token.ts
  packages/ng-async-injector-app/src/app/async-tokens/second.token.ts
  packages/ng-async-injector-app/src/app/async-tokens/third.token.ts
  packages/ng-async-injector-app/src/app/child.component.ts
  packages/ng-async-injector-app/src/app/route.component.ts
  packages/ng-async-injector-app/src/assets/.gitkeep
  packages/ng-async-injector-app/src/favicon.ico
  packages/ng-async-injector-app/src/index.html
  packages/ng-async-injector-app/src/main.ts
  packages/ng-async-injector-app/src/styles.css
  packages/ng-async-injector-app/tsconfig.app.json
  packages/ng-async-injector-app/tsconfig.editor.json
  packages/ng-async-injector-app/tsconfig.json
  workspace.json
Due: ng-async-injector

test(ng-async-injector-e2e): :white_check_mark: add e2e tests for ng-async-injector using cypress
  .vscode/settings.json
  package-lock.json
  package.json
  packages/ng-async-injector-e2e/.eslintrc.json
  packages/ng-async-injector-e2e/cypress.config.ts
  packages/ng-async-injector-e2e/project.json
  packages/ng-async-injector-e2e/src/e2e/app.cy.ts
  packages/ng-async-injector-e2e/src/support/app.po.ts
  packages/ng-async-injector-e2e/src/support/commands.ts
  packages/ng-async-injector-e2e/src/support/e2e.ts
  packages/ng-async-injector-e2e/tsconfig.json
  workspace.json
Due: ng-async-injector

test(ng-async-injector-e2e): :white_check_mark: add e2e tests for ng-async-injector using cypress (#371)
  .vscode/settings.json
  package-lock.json
  package.json
  packages/ng-async-injector-e2e/.eslintrc.json
  packages/ng-async-injector-e2e/cypress.config.ts
  packages/ng-async-injector-e2e/project.json
  packages/ng-async-injector-e2e/src/e2e/app.cy.ts
  packages/ng-async-injector-e2e/src/support/app.po.ts
  packages/ng-async-injector-e2e/src/support/commands.ts
  packages/ng-async-injector-e2e/src/support/e2e.ts
  packages/ng-async-injector-e2e/tsconfig.json
  workspace.json
Due: ng-async-injector

feat(ng-async-injector): avoid declaration of duplicate tokens
  .vscode/extensions.json
  packages/ng-async-injector/project.json
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
Due: ng-async-injector

chore: add settings for coverage gutters
  .vscode/settings.json
Due: none

feat(ng-async-injector): prevent declaring duplicated injection tokens (#373)
  .vscode/extensions.json
  .vscode/settings.json
  packages/ng-async-injector/project.json
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
Due: ng-async-injector

chore(deps): :arrow_up: update dependency @types/node to v18
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @types/node to v18 (#376)
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @nrwl/devkit to ^15.5.3
  package-lock.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update dependency @nrwl/devkit to ^15.5.3 (#377)
  package-lock.json
  packages/workspace/package.json
Due: workspace

fix(deps): :arrow_up: update dependency renovate to v34.111.0
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

fix(deps): :arrow_up: update dependency renovate to v34.111.0 (#378)
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update nrwl workspace
  package-lock.json
  package.json
  packages/ng-async-injector/package.json
  packages/workspace/package.json
Due: workspace, ng-async-injector

chore(deps): :arrow_up: update nrwl workspace (#379)
  package-lock.json
  package.json
  packages/ng-async-injector/package.json
  packages/workspace/package.json
Due: workspace, ng-async-injector

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

fix(deps): :arrow_up: update all non-major dependencies (#380)
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(workspace): :package: release version 1.2.0 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

refactor: :recycle: improve code quality for sonarcloud
  packages/workspace-e2e/tests/workspace.spec.ts
  packages/workspace/src/generators/eslint/generator.spec.ts
  packages/workspace/src/generators/eslint/generator.ts
  packages/workspace/src/generators/eslint/index.ts
  packages/workspace/src/generators/eslint/rules.ts
  packages/workspace/src/generators/lib/git/get-git-repo.ts
  packages/workspace/src/generators/lib/npm/get-npm-package-version.ts
Due: workspace

test(workspace): :white_check_mark: fix e2e test
  packages/workspace-e2e/tests/workspace.spec.ts
Due: workspace

refactor: :recycle: improve code quality for sonarcloud (#381)
  packages/workspace-e2e/tests/workspace.spec.ts
  packages/workspace/src/generators/eslint/generator.spec.ts
  packages/workspace/src/generators/eslint/generator.ts
  packages/workspace/src/generators/eslint/index.ts
  packages/workspace/src/generators/eslint/rules.ts
  packages/workspace/src/generators/lib/git/get-git-repo.ts
  packages/workspace/src/generators/lib/npm/get-npm-package-version.ts
Due: workspace

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

Path conditions:
  workspace: any of: packages/workspace
  ng-async-injector: any of: packages/ng-async-injector
