Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: devkit, ngx-async-injector, ngx-forms, ngx-ssr-app, renovate, utils, workspace

fix(deps): :arrow_up: update dependency yaml to v2.4.1
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: devkit, renovate, workspace

fix(deps): :arrow_up: update dependency renovate to v37.229.5
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.230.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.231.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.231.1
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.231.2
  package-lock.json
  package.json
Due: none

chore: :arrow_up: migrate Nx workspace
  package-lock.json
  package.json
Due: none

fix(ngx-async-injector): :bug: adjust typing of inject function so that it supports any signature
  packages/ngx-async-injector/src/lib/injector/async-injector.ts
Due: ngx-async-injector

chore: :arrow_up: migrate Nx workspace (#1333)
  package-lock.json
  package.json
  packages/ngx-async-injector/src/lib/injector/async-injector.ts
Due: ngx-async-injector

feat: :arrow_up: widen range to support prettier v3
  packages/devkit/package.json
  packages/workspace/package.json
Due: devkit, workspace

feat: :arrow_up: widen range to support prettier v3 (#1334)
  packages/devkit/package.json
  packages/workspace/package.json
Due: devkit, workspace

chore(devkit): :package: release version 3.1.0 [skip ci]
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

chore(workspace): :package: release version 6.1.0 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

chore(renovate): :package: release version 3.1.6 [skip ci]
  packages/renovate/CHANGELOG.md
  packages/renovate/package.json
Due: renovate

chore(ngx-async-injector): :package: release version 3.1.0 [skip ci]
  packages/ngx-async-injector/CHANGELOG.md
  packages/ngx-async-injector/package.json
Due: ngx-async-injector

chore(ngx-forms): :package: release version 2.1.0 [skip ci]
  packages/ngx-forms/CHANGELOG.md
  packages/ngx-forms/package.json
Due: ngx-forms

docs: :memo: update changelogs
  packages/ngx-async-injector/CHANGELOG.md
  packages/ngx-forms/CHANGELOG.md
Due: ngx-async-injector, ngx-forms

chore: :lipstick: update prettier in the monorepo to v3
  e2e/ngx-async-injector-app/src/index.html
  e2e/ngx-forms-app/src/index.html
  e2e/ngx-ssr-app/src/index.html
  package-lock.json
  package.json
  packages/ngx-signal-forms/src/lib/directives/signal-control-container.directive.ts
  packages/ngx-signal-forms/src/lib/directives/signal-control-error.directive.ts
  packages/ngx-signal-forms/src/lib/directives/signal-control.directive.spec.ts
  packages/ngx-signal-forms/src/lib/directives/signal-form-group.directive.spec.ts
  packages/ngx-signal-forms/src/lib/directives/signal-form-group.directive.ts
  packages/ngx-signal-forms/src/lib/models/signal-validator.ts
Due: none

chore: :lipstick: update prettier in the monorepo to v3 (#1335)
  e2e/ngx-async-injector-app/src/index.html
  e2e/ngx-forms-app/src/index.html
  e2e/ngx-ssr-app/src/index.html
  package-lock.json
  package.json
  packages/ngx-signal-forms/src/lib/directives/signal-control-container.directive.ts
  packages/ngx-signal-forms/src/lib/directives/signal-control-error.directive.ts
  packages/ngx-signal-forms/src/lib/directives/signal-control.directive.spec.ts
  packages/ngx-signal-forms/src/lib/directives/signal-form-group.directive.spec.ts
  packages/ngx-signal-forms/src/lib/directives/signal-form-group.directive.ts
  packages/ngx-signal-forms/src/lib/models/signal-validator.ts
Due: none

chore: :wrench: add ng-packagr to migrate scripts
  .github/workflows/migrate.yml
  nx-migrate-latest.sh
Due: none

chore: :wrench: add ng-packagr to migrate scripts (#1336)
  .github/workflows/migrate.yml
  nx-migrate-latest.sh
Due: none

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
Due: none

chore: :arrow_up: migrate Nx workspace (#1337)
  package-lock.json
  package.json
Due: none

chore: :arrow_up: migrate Nx workspace
  package-lock.json
Due: none

chore: :arrow_up: migrate Nx workspace (#1339)
  package-lock.json
Due: none

chore(deps): :arrow_up: update github actions
  .github/workflows/migrate.yml
  .github/workflows/renovate.yml
Due: none

Path conditions:
  devkit: any of: packages/devkit
  ngx-async-injector: any of: packages/ngx-async-injector
  ngx-forms: any of: packages/ngx-forms
  ngx-ssr-app: any of: packages/ngx-ssr-app
  renovate: any of: packages/renovate
  utils: any of: packages/utils
  workspace: any of: packages/workspace
