Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, ng-async-injector

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      workspace:
        flags:
          - workspace
      ng-async-injector:
        flags:
          - ng-async-injector
flags:
  workspace:
    paths:
      - packages/workspace
  ng-async-injector:
    paths:
      - packages/ng-async-injector

fix(workspace): :bug: renovate runs npm install for nrwl
  .github/renovate-config.js
  nrwlWorkspace.json
  packages/workspace/src/generators/renovate/files/.github/renovate-config.js__tmpl__
  packages/workspace/src/generators/renovate/generator.spec.ts
  packages/workspace/src/generators/renovate/presets/nrwlWorkspace.json
Due: workspace

test(workspace): fix failing unit test
  packages/workspace/src/generators/renovate/files/.github/renovate-config.js__tmpl__
Due: workspace

fix(workspace): :bug: renovate runs npm install for nrwl (#429)
  .github/renovate-config.js
  nrwlWorkspace.json
  packages/workspace/src/generators/renovate/files/.github/renovate-config.js__tmpl__
  packages/workspace/src/generators/renovate/generator.spec.ts
  packages/workspace/src/generators/renovate/presets/nrwlWorkspace.json
Due: workspace

chore(workspace): :package: release version 1.2.3 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

ci: :white_check_mark: fix next version integration pipeline
  .github/workflows/next.yml
  .gitignore
  package.json
Due: none

ci: :white_check_mark: fix next version integration pipeline (#430)
  .github/workflows/next.yml
  .gitignore
  package.json
Due: none

docs(workspace): :memo: add next pipeline badge
  README.md
  packages/workspace/README.md
Due: workspace

chore(deps): :arrow_up: update nrwl workspace
  package-lock.json
  package.json
  packages/ng-async-injector/package.json
Due: ng-async-injector

chore(deps): :arrow_up: update nrwl workspace (#428)
  package-lock.json
  package.json
  packages/ng-async-injector/package.json
Due: ng-async-injector

docs(workspace): :memo: fix link to changelog in README
  packages/workspace/README.md
Due: workspace

docs(workspace): :memo: fix link to changelog in README (#433)
  packages/workspace/README.md
Due: workspace

feat(workspace): :sparkles: configure renovate to widen dependencies
  default.json
  packages/workspace/README.md
  packages/workspace/package.json
  packages/workspace/src/generators/renovate/README.md
  packages/workspace/src/generators/renovate/presets/widenRangeLibraryDeps.json
  packages/workspace/src/generators/renovate/renovate.ts
  widenRangeLibraryDeps.json
Due: workspace

feat(workspace): :sparkles: configure renovate to widen dependencies (#434)
  default.json
  packages/workspace/README.md
  packages/workspace/package.json
  packages/workspace/src/generators/renovate/README.md
  packages/workspace/src/generators/renovate/presets/widenRangeLibraryDeps.json
  packages/workspace/src/generators/renovate/renovate.ts
  widenRangeLibraryDeps.json
Due: workspace

fix(workspace): fix wrong config for renovate widen preset
  packages/workspace/src/generators/renovate/presets/widenRangeLibraryDeps.json
  widenRangeLibraryDeps.json
Due: workspace

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update dependency @nrwl/devkit to ^15.6.3
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update renovatebot/github-action action to v34.128.3
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update tooling
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update renovatebot/github-action action to v34.130.0
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update dependency @swc/core to v1.3.34
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v34.131.0
  .github/workflows/renovate.yml
Due: none

fix(deps): :arrow_up: update dependency renovate to v34.128.1
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency eslint to v8.34.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency eslint to v8.34.0 (#443)
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v34.132.0
  .github/workflows/renovate.yml
Due: none

fix(deps): :arrow_up: update dependency renovate to v34.128.2
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v34.128.3
  package-lock.json
  package.json
Due: none
