Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: devkit, ngx-async-injector, ngx-forms, ngx-ssr-app, renovate, utils, workspace

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      devkit:
        flags:
          - devkit
      ngx-async-injector:
        flags:
          - ngx-async-injector
      ngx-forms:
        flags:
          - ngx-forms
      ngx-ssr-app:
        flags:
          - ngx-ssr-app
      renovate:
        flags:
          - renovate
      typedoc:
        flags:
          - typedoc
      utils:
        flags:
          - utils
      workspace:
        flags:
          - workspace
flags:
  devkit:
    paths:
      - packages/devkit
  ngx-async-injector:
    paths:
      - packages/ngx-async-injector
  ngx-forms:
    paths:
      - packages/ngx-forms
  ngx-ssr-app:
    paths:
      - packages/ngx-ssr-app
  renovate:
    paths:
      - packages/renovate
  utils:
    paths:
      - packages/utils
  workspace:
    paths:
      - packages/workspace

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nrwl/nx-set-shas action to v4.0.3
  .github/workflows/ci.yml
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.66.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @types/node to v20.9.5
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update angular monorepo to v17.0.5
  package.json
Due: none

fix(deps): :arrow_up: update dependency @angular/ssr to v17.0.4
  package.json
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies
  package.json
Due: none

fix(deps): :arrow_up: update dependency @angular/ssr to v17.0.5
  package.json
Due: none

chore(deps): :arrow_up: update dependency @swc/core to v1.3.100
  package.json
Due: none

chore: upgrade nx workspace
  package-lock.json
  package.json
  packages/devkit/package.json
Due: devkit

chore: upgrade nx workspace (#1083)
  package-lock.json
  package.json
  packages/devkit/package.json
Due: devkit

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update github actions
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.76.1
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update tooling
  package-lock.json
  package.json
Due: none

chore: remove unnecessary override
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.81.4
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.81.4 (#1086)
  package-lock.json
  package.json
Due: none

chore(devkit): :package: release version 1.2.4 [skip ci]
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

chore(utils): :package: release version 1.0.3 [skip ci]
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: utils

chore(workspace): :package: release version 4.0.5 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

chore(renovate): :package: release version 2.0.4 [skip ci]
  packages/renovate/CHANGELOG.md
  packages/renovate/package.json
Due: renovate

chore(ngx-async-injector): :package: release version 3.0.0 [skip ci]
  packages/ngx-async-injector/CHANGELOG.md
  packages/ngx-async-injector/package.json
Due: ngx-async-injector

chore(ngx-forms): :package: release version 2.0.0 [skip ci]
  packages/ngx-forms/CHANGELOG.md
  packages/ngx-forms/package.json
Due: ngx-forms
