Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, devkit, ngx-async-injector, renovate

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      workspace:
        flags:
          - workspace
      devkit:
        flags:
          - devkit
      ngx-async-injector:
        flags:
          - ngx-async-injector
      renovate:
        flags:
          - renovate
flags:
  workspace:
    paths:
      - packages/workspace
  devkit:
    paths:
      - packages/devkit
  ngx-async-injector:
    paths:
      - packages/ngx-async-injector
  renovate:
    paths:
      - packages/renovate

chore(deps): :arrow_up: update renovatebot/github-action action to v38.1.13
  .github/workflows/renovate.yml
Due: none

fix(deps): :arrow_up: update nx monorepo
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update tooling to v5.62.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo to v16.1.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @swc/core to v1.3.69
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update nx monorepo to v16.1.5
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency postcss to v8.4.26
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo to v16.5.2
  package-lock.json
  package.json
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @swc/core to v1.3.70
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo to v16.5.3
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency eslint to v8.45.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @commitlint/config-angular to v17.6.7
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update all non-major dependencies to v17.6.7
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update nx monorepo to v16.1.6
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v39
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v39 (#808)
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update nx monorepo to v16.1.5
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency cypress to v12.17.2
  package-lock.json
  package.json
Due: none

fix(renovate): :bug: don't upgrade major version of prettier, leave it to nx
  nxMonorepo.json
  packages/renovate/src/generators/renovate/presets/nxMonorepo.json
Due: renovate

fix(renovate): :bug: don't upgrade major version of prettier, leave it to nx (#826)
  nxMonorepo.json
  packages/renovate/src/generators/renovate/presets/nxMonorepo.json
Due: renovate

fix: :hammer: run renovate every hour
  .github/workflows/renovate.yml
  packages/renovate/src/generators/renovate/files/.github/workflows/renovate.yml__tmpl__
  packages/workspace/src/generators/renovate/__snapshots__/generator.spec.ts.snap
  packages/workspace/src/generators/renovate/generator.spec.ts
Due: workspace, renovate

fix: :hammer: run renovate every hour (#827)
  .github/workflows/renovate.yml
  packages/renovate/src/generators/renovate/files/.github/workflows/renovate.yml__tmpl__
  packages/workspace/src/generators/renovate/__snapshots__/generator.spec.ts.snap
  packages/workspace/src/generators/renovate/generator.spec.ts
Due: workspace, renovate

chore(deps): :arrow_up: update dependency renovate to v36
  package-lock.json
  package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: workspace, renovate

fix(renovate): :bug: separate tooling preset
  .github/renovate.json
  default.json
  packages/renovate/README.md
  packages/renovate/src/generators/renovate/files/.github/renovate.json__tmpl__
  packages/renovate/src/generators/renovate/generator.spec.ts
  packages/renovate/src/generators/renovate/presets/default.json
Due: renovate
