Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: devkit, ngx-async-injector, ngx-forms, ngx-ssr-app, renovate, utils, workspace

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      devkit:
        flags:
          - devkit
      ngx-async-injector:
        flags:
          - ngx-async-injector
      ngx-forms:
        flags:
          - ngx-forms
      ngx-ssr-app:
        flags:
          - ngx-ssr-app
      renovate:
        flags:
          - renovate
      typedoc:
        flags:
          - typedoc
      utils:
        flags:
          - utils
      workspace:
        flags:
          - workspace
flags:
  devkit:
    paths:
      - packages/devkit
  ngx-async-injector:
    paths:
      - packages/ngx-async-injector
  ngx-forms:
    paths:
      - packages/ngx-forms
  ngx-ssr-app:
    paths:
      - packages/ngx-ssr-app
  renovate:
    paths:
      - packages/renovate
  utils:
    paths:
      - packages/utils
  workspace:
    paths:
      - packages/workspace

chore(devkit): :package: release version 3.0.2 [skip ci]
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

chore(utils): :package: release version 1.0.6 [skip ci]
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: utils

chore(renovate): :package: release version 3.1.2 [skip ci]
  packages/renovate/CHANGELOG.md
  packages/renovate/package.json
Due: renovate

chore(ngx-async-injector): :package: release version 3.0.2 [skip ci]
  packages/ngx-async-injector/CHANGELOG.md
  packages/ngx-async-injector/package.json
Due: ngx-async-injector

chore(ngx-forms): :package: release version 2.0.2 [skip ci]
  packages/ngx-forms/CHANGELOG.md
  packages/ngx-forms/package.json
Due: ngx-forms

docs: :memo: add tsdoc comments to increase documentation coverage
  media/branding/banner.png
  nx.json
  package-lock.json
  package.json
  packages/devkit/src/exec/exec.ts
  packages/devkit/src/git/get-git-repo.ts
  packages/devkit/src/git/git-make-executable.ts
  packages/devkit/src/github-workflow/github-workflow.ts
  packages/devkit/src/husky/husky.ts
  packages/devkit/src/npm/get-npm-package-version.ts
  packages/devkit/src/nx-plugin/ensure-nx-project.ts
  packages/devkit/src/nx-plugin/get-library-import-path.ts
  packages/devkit/src/nx-plugin/run-nx-new-command.ts
  packages/devkit/src/nx-plugin/run-package-manager-install.ts
  packages/devkit/src/nx-plugin/typescript.ts
  packages/devkit/src/nx/add-nx-named-input.ts
  packages/devkit/src/nx/nx.ts
  packages/devkit/src/package-json/add-dependency-to-package-json.ts
  packages/devkit/src/package-json/add-dev-dependency-to-package-json.ts
  packages/devkit/src/package-json/add-script-to-package-json.ts
  packages/devkit/src/package-json/package-json.ts
  packages/devkit/src/path/join-normalize.ts
  packages/devkit/src/path/slash.ts
  packages/devkit/src/readme/add-badge-to-readme.ts
  packages/devkit/src/readme/readme.ts
  packages/devkit/src/security/security.ts
  packages/devkit/src/tasks/format-workspace-task.ts
  packages/devkit/src/tasks/lint-workspace-task.ts
  packages/devkit/src/tasks/noop-task.ts
  packages/devkit/src/utils/set.ts
  packages/ngx-async-injector/project.json
  packages/ngx-forms/project.json
  packages/renovate/project.json
  packages/workspace/README.md
  packages/workspace/project.json
Due: devkit, ngx-async-injector, ngx-forms, renovate, workspace

chore: update docs configuration
  nx.json
  packages/devkit/src/nx-plugin/ensure-nx-project.ts
  packages/ngx-async-injector/project.json
  packages/ngx-forms/project.json
  packages/renovate/project.json
  packages/utils/src/module-export/extract-default-export.ts
  packages/workspace/project.json
Due: devkit, ngx-async-injector, ngx-forms, renovate, utils, workspace

docs: :memo: add tsdoc comments to increase documentation coverage (#1198)
  media/branding/banner.png
  nx.json
  package-lock.json
  package.json
  packages/devkit/src/exec/exec.ts
  packages/devkit/src/git/get-git-repo.ts
  packages/devkit/src/git/git-make-executable.ts
  packages/devkit/src/github-workflow/github-workflow.ts
  packages/devkit/src/husky/husky.ts
  packages/devkit/src/npm/get-npm-package-version.ts
  packages/devkit/src/nx-plugin/ensure-nx-project.ts
  packages/devkit/src/nx-plugin/get-library-import-path.ts
  packages/devkit/src/nx-plugin/run-nx-new-command.ts
  packages/devkit/src/nx-plugin/run-package-manager-install.ts
  packages/devkit/src/nx-plugin/typescript.ts
  packages/devkit/src/nx/add-nx-named-input.ts
  packages/devkit/src/nx/nx.ts
  packages/devkit/src/package-json/add-dependency-to-package-json.ts
  packages/devkit/src/package-json/add-dev-dependency-to-package-json.ts
  packages/devkit/src/package-json/add-script-to-package-json.ts
  packages/devkit/src/package-json/package-json.ts
  packages/devkit/src/path/join-normalize.ts
  packages/devkit/src/path/slash.ts
  packages/devkit/src/readme/add-badge-to-readme.ts
  packages/devkit/src/readme/readme.ts
  packages/devkit/src/security/security.ts
  packages/devkit/src/tasks/format-workspace-task.ts
  packages/devkit/src/tasks/lint-workspace-task.ts
  packages/devkit/src/tasks/noop-task.ts
  packages/devkit/src/utils/set.ts
  packages/ngx-async-injector/project.json
  packages/ngx-forms/project.json
  packages/renovate/project.json
  packages/utils/src/module-export/extract-default-export.ts
  packages/workspace/README.md
  packages/workspace/project.json
Due: devkit, ngx-async-injector, ngx-forms, renovate, utils, workspace

chore(devkit): :package: release version 3.0.3 [skip ci]
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

chore(utils): :package: release version 1.0.7 [skip ci]
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: utils

chore(workspace): :package: release version 6.0.2 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

chore(renovate): :package: release version 3.1.3 [skip ci]
  packages/renovate/CHANGELOG.md
  packages/renovate/package.json
Due: renovate

chore(ngx-async-injector): :package: release version 3.0.3 [skip ci]
  packages/ngx-async-injector/CHANGELOG.md
  packages/ngx-async-injector/package.json
Due: ngx-async-injector

chore(ngx-forms): :package: release version 2.0.3 [skip ci]
  packages/ngx-forms/CHANGELOG.md
  packages/ngx-forms/package.json
Due: ngx-forms

chore: always generate docs on release
  .github/workflows/ci.yml
  nx.json
  packages/ngx-async-injector/project.json
  packages/ngx-forms/project.json
  packages/renovate/project.json
  packages/workspace/project.json
Due: ngx-async-injector, ngx-forms, renovate, workspace

chore(ngx-async-injector): :package: release version 3.0.4 [skip ci]
  packages/ngx-async-injector/CHANGELOG.md
  packages/ngx-async-injector/package.json
Due: ngx-async-injector

chore(ngx-forms): :package: release version 2.0.4 [skip ci]
  packages/ngx-forms/CHANGELOG.md
  packages/ngx-forms/package.json
Due: ngx-forms

chore(renovate): :package: release version 3.1.4 [skip ci]
  packages/renovate/CHANGELOG.md
  packages/renovate/package.json
Due: renovate

chore(workspace): :package: release version 6.0.3 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

docs: :memo: update readmes with link to documentation
  README.md
  packages/devkit/README.md
  packages/ngx-async-injector/README.md
  packages/ngx-forms/README.md
  packages/renovate/README.md
  packages/utils/README.md
  packages/workspace/README.md
Due: devkit, ngx-async-injector, ngx-forms, renovate, utils, workspace

docs(ngx-forms): :memo: document all public API
  packages/ngx-forms/project.json
  packages/ngx-forms/src/lib/functions/lazy-validator.ts
  packages/ngx-forms/src/lib/providers/provide-lazy-validator.ts
  packages/ngx-forms/src/lib/tokens/load-validator.token.ts
  packages/ngx-forms/src/lib/validators/lazy-validator.ts
Due: ngx-forms

docs(ngx-async-injector): :memo: add full docs coverage
  packages/ngx-async-injector/src/lib/directives/resolve-async-providers.directive.ts
  packages/ngx-async-injector/src/lib/functions/is-multi-provider.ts
  packages/ngx-async-injector/src/lib/functions/resolve-many.ts
  packages/ngx-async-injector/src/lib/injector/async-injector.ts
  packages/ngx-async-injector/src/lib/interfaces/async-class-provider.ts
  packages/ngx-async-injector/src/lib/interfaces/async-factory-provider.ts
  packages/ngx-async-injector/src/lib/interfaces/async-multi-provider.ts
  packages/ngx-async-injector/src/lib/interfaces/async-provider-config.ts
  packages/ngx-async-injector/src/lib/interfaces/async-provider-types.ts
  packages/ngx-async-injector/src/lib/interfaces/async-static-provider.ts
  packages/ngx-async-injector/src/lib/interfaces/async-value-provider.ts
  packages/ngx-async-injector/src/lib/interfaces/injection-context.ts
  packages/ngx-async-injector/src/lib/interfaces/type-without-constructor-params.ts
  packages/ngx-async-injector/src/lib/providers/provide-async.function.ts
  packages/ngx-async-injector/src/lib/tokens/async-injector-initializer.token.ts
  packages/workspace/project.json
Due: ngx-async-injector, workspace

docs(renovate): :memo: add full docs coverage
  packages/renovate/project.json
  packages/renovate/src/generators/renovate/generator.compat.ts
  packages/renovate/src/generators/renovate/generator.ts
  packages/renovate/src/generators/renovate/renovate-config-validator-task.ts
  packages/renovate/src/generators/renovate/renovate.ts
  packages/renovate/src/generators/renovate/schema.ts
Due: renovate

docs(workspace): :memo: add full docs coverage
  packages/ngx-async-injector/project.json
  packages/workspace/src/executors/build/executor.ts
  packages/workspace/src/executors/build/schema.d.ts
  packages/workspace/src/generators/codecov/codecov.ts
  packages/workspace/src/generators/codecov/generator.compat.ts
  packages/workspace/src/generators/codecov/generator.ts
  packages/workspace/src/generators/codecov/schema.ts
  packages/workspace/src/generators/commitlint/commitlint.ts
  packages/workspace/src/generators/commitlint/generator.compat.ts
  packages/workspace/src/generators/commitlint/generator.ts
  packages/workspace/src/generators/commitlint/schema.ts
  packages/workspace/src/generators/contributors/generator.compat.ts
  packages/workspace/src/generators/contributors/generator.ts
  packages/workspace/src/generators/contributors/schema.ts
  packages/workspace/src/generators/eslint/eslint-config.ts
  packages/workspace/src/generators/eslint/generator.compat.ts
  packages/workspace/src/generators/eslint/generator.ts
  packages/workspace/src/generators/eslint/rules.ts
  packages/workspace/src/generators/eslint/schema.ts
  packages/workspace/src/generators/github-workflow/generator.compat.ts
  packages/workspace/src/generators/github-workflow/generator.ts
  packages/workspace/src/generators/github-workflow/schema.ts
  packages/workspace/src/generators/lint-staged/generator.compat.ts
  packages/workspace/src/generators/lint-staged/generator.ts
  packages/workspace/src/generators/lint-staged/lint-staged.ts
  packages/workspace/src/generators/lint-staged/schema.ts
  packages/workspace/src/generators/prettier/generator.compat.ts
  packages/workspace/src/generators/prettier/generator.ts
  packages/workspace/src/generators/prettier/prettier-default-config.ts
  packages/workspace/src/generators/prettier/prettier.ts
  packages/workspace/src/generators/prettier/schema.ts
  packages/workspace/src/generators/tsconfig/generator.compat.ts
  packages/workspace/src/generators/tsconfig/generator.ts
  packages/workspace/src/generators/tsconfig/schema.ts
  packages/workspace/src/generators/tsconfig/tsconfig.ts
  packages/workspace/src/migrations/add-html-override-to-prettier-config/add-html-override-to-prettier-config.ts
Due: ngx-async-injector, workspace

chore(devkit): :package: release version 3.0.4 [skip ci]
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

chore(utils): :package: release version 1.0.8 [skip ci]
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: utils

chore(workspace): :package: release version 6.0.4 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

chore(renovate): :package: release version 3.1.5 [skip ci]
  packages/renovate/CHANGELOG.md
  packages/renovate/package.json
Due: renovate

chore(ngx-async-injector): :package: release version 3.0.5 [skip ci]
  packages/ngx-async-injector/CHANGELOG.md
  packages/ngx-async-injector/package.json
Due: ngx-async-injector

chore(ngx-forms): :package: release version 2.0.5 [skip ci]
  packages/ngx-forms/CHANGELOG.md
  packages/ngx-forms/package.json
Due: ngx-forms

chore: fix name of docs CI step
  .github/workflows/ci.yml
Due: none

feat(ngx-signal-forms): :tada: scaffold signal forms library
  .codecov.yml
  .vscode/settings.json
  README.md
  nx.json
  package-lock.json
  package.json
  packages/ngx-signal-forms/.eslintrc.json
  packages/ngx-signal-forms/README.md
  packages/ngx-signal-forms/jest.config.ts
  packages/ngx-signal-forms/ng-package.json
  packages/ngx-signal-forms/package.json
  packages/ngx-signal-forms/project.json
  packages/ngx-signal-forms/src/index.ts
  packages/ngx-signal-forms/src/lib/ngx-signal-forms/ngx-signal-forms.component.css
  packages/ngx-signal-forms/src/lib/ngx-signal-forms/ngx-signal-forms.component.html
  packages/ngx-signal-forms/src/lib/ngx-signal-forms/ngx-signal-forms.component.spec.ts
  packages/ngx-signal-forms/src/lib/ngx-signal-forms/ngx-signal-forms.component.ts
  packages/ngx-signal-forms/src/test-setup.ts
  packages/ngx-signal-forms/tsconfig.json
  packages/ngx-signal-forms/tsconfig.lib.json
  packages/ngx-signal-forms/tsconfig.lib.prod.json
  packages/ngx-signal-forms/tsconfig.spec.json
  tsconfig.base.json
Due: none

chore: regenerate package-lock.json
  package-lock.json
  package.json
Due: none

docs: fix docs coverage
  packages/ngx-signal-forms/src/lib/ngx-signal-forms/ngx-signal-forms.component.ts
Due: none

chore: fix Nx configuration
  nx.json
  packages/ngx-async-injector/project.json
  packages/ngx-forms/project.json
  packages/ngx-signal-forms/package.json
  packages/ngx-signal-forms/project.json
Due: ngx-async-injector, ngx-forms

feat(ngx-signal-forms): :tada: scaffold signal forms library (#1200)
  .codecov.yml
  .vscode/settings.json
  README.md
  nx.json
  package-lock.json
  package.json
  packages/ngx-async-injector/project.json
  packages/ngx-forms/project.json
  packages/ngx-signal-forms/.eslintrc.json
  packages/ngx-signal-forms/README.md
  packages/ngx-signal-forms/jest.config.ts
  packages/ngx-signal-forms/ng-package.json
  packages/ngx-signal-forms/package.json
  packages/ngx-signal-forms/project.json
  packages/ngx-signal-forms/src/index.ts
  packages/ngx-signal-forms/src/lib/ngx-signal-forms/ngx-signal-forms.component.css
  packages/ngx-signal-forms/src/lib/ngx-signal-forms/ngx-signal-forms.component.html
  packages/ngx-signal-forms/src/lib/ngx-signal-forms/ngx-signal-forms.component.spec.ts
  packages/ngx-signal-forms/src/lib/ngx-signal-forms/ngx-signal-forms.component.ts
  packages/ngx-signal-forms/src/test-setup.ts
  packages/ngx-signal-forms/tsconfig.json
  packages/ngx-signal-forms/tsconfig.lib.json
  packages/ngx-signal-forms/tsconfig.lib.prod.json
  packages/ngx-signal-forms/tsconfig.spec.json
  tsconfig.base.json
Due: ngx-async-injector, ngx-forms
