Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, renovate, ng-async-injector

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      workspace:
        flags:
          - workspace
      renovate:
        flags:
          - renovate
      ng-async-injector:
        flags:
          - ng-async-injector
flags:
  workspace:
    paths:
      - packages/workspace
  renovate:
    paths:
      - packages/renovate
  ng-async-injector:
    paths:
      - packages/ng-async-injector

chore(deps): :arrow_up: update nrwl workspace (#283)
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

fix(deps): :arrow_up: update dependency renovate to v34.83.0
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

fix(deps): :arrow_up: update dependency renovate to v34.83.1
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update renovatebot/github-action action to v34.92.1
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v34.93.0
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update dependency @swc-node/register to v1.5.5
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v34.84.0
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update renovatebot/github-action action to v34.94.0
  .github/workflows/renovate.yml
Due: none

fix(deps): :arrow_up: update dependency renovate to v34.84.1
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

feat(ng-async-injector): :sparkles: resolve multiple tokens (#269)
  packages/ng-async-injector/src/index.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/interfaces/async-injection-token-type.ts
  packages/ng-async-injector/src/lib/interfaces/async-provider-types.ts
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: resolve multiple tokens (#269) (#298)
  packages/ng-async-injector/src/index.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/interfaces/async-injection-token-type.ts
  packages/ng-async-injector/src/lib/interfaces/async-provider-types.ts
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: resolve async providers directive (#272)
  packages/ng-async-injector/.eslintrc.json
  packages/ng-async-injector/src/index.ts
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.spec.ts
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/interfaces/async-injection-token-type.ts
  packages/ng-async-injector/src/lib/interfaces/async-static-provider.ts
  packages/ng-async-injector/src/lib/interfaces/injection-token-type.ts
  packages/ng-async-injector/src/lib/tokens/async-injection-token.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: resolve async providers directive (#272) (#299)
  packages/ng-async-injector/.eslintrc.json
  packages/ng-async-injector/src/index.ts
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.spec.ts
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/interfaces/async-injection-token-type.ts
  packages/ng-async-injector/src/lib/interfaces/async-static-provider.ts
  packages/ng-async-injector/src/lib/interfaces/injection-token-type.ts
  packages/ng-async-injector/src/lib/tokens/async-injection-token.ts
Due: ng-async-injector

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

feat(ng-async-injector): :sparkles: directive support template resolving (#300)
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.spec.ts
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/interfaces/injection-token-type.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: directive support template resolving (#300) (#304)
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.spec.ts
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/interfaces/injection-token-type.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: support useValueFactory (#266)
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/interfaces/async-static-provider.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: provide with useAsyncFactory and useAsyncClass
  packages/ng-async-injector/src/index.ts
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/interfaces/async-class-provider.ts
  packages/ng-async-injector/src/lib/interfaces/async-factory-provider.ts
  packages/ng-async-injector/src/lib/interfaces/async-provider-config.ts
  packages/ng-async-injector/src/lib/interfaces/async-static-provider.ts
  packages/ng-async-injector/src/lib/interfaces/async-value-provider.ts
  packages/ng-async-injector/src/lib/interfaces/type-without-constructor-params.ts
Due: ng-async-injector

feat(ng-async-injector): ✨ provide with useAsyncFactory and useAsyncClass options (#305)
  packages/ng-async-injector/src/index.ts
  packages/ng-async-injector/src/lib/directives/resolve-async-providers.directive.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/interfaces/async-class-provider.ts
  packages/ng-async-injector/src/lib/interfaces/async-factory-provider.ts
  packages/ng-async-injector/src/lib/interfaces/async-provider-config.ts
  packages/ng-async-injector/src/lib/interfaces/async-static-provider.ts
  packages/ng-async-injector/src/lib/interfaces/async-value-provider.ts
  packages/ng-async-injector/src/lib/interfaces/type-without-constructor-params.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: run async injectables in context
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: run async injectables in context (#307)
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
Due: ng-async-injector

fix(deps): :arrow_up: update dependency renovate to v34.92.1
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

fix(deps): :arrow_up: update dependency renovate to v34.92.1 (#311)
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies (#310)
  package-lock.json
  package.json
Due: none

feat(ng-async-injector): :sparkles: provide injection context to async factories (#271)
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/interfaces/async-factory-provider.ts
  packages/ng-async-injector/src/lib/interfaces/injection-context.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: expose new interface in public API
  packages/ng-async-injector/src/index.ts
  packages/ng-async-injector/src/lib/interfaces/injection-context.ts
Due: ng-async-injector

fix(ng-async-injector): :white_check_mark: restore all tests
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: provide injection context to async factories (#271) (#312)
  packages/ng-async-injector/src/index.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/interfaces/async-factory-provider.ts
  packages/ng-async-injector/src/lib/interfaces/injection-context.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: detect cyclic dependencies (#313)
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: detect cyclic dependencies (#313) (#314)
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
Due: ng-async-injector

test(ng-async-injector): :green_heart: enhence tests over cyclic dependency detection
  packages/ng-async-injector/jest.config.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/utils/calculate-circular-dependencies.function.spec.ts
  packages/ng-async-injector/src/lib/utils/calculate-circular-dependencies.function.ts
Due: ng-async-injector
