Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, devkit, ngx-async-injector, renovate

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      workspace:
        flags:
          - workspace
      devkit:
        flags:
          - devkit
      ngx-async-injector:
        flags:
          - ngx-async-injector
      renovate:
        flags:
          - renovate
flags:
  workspace:
    paths:
      - packages/workspace
  devkit:
    paths:
      - packages/devkit
  ngx-async-injector:
    paths:
      - packages/ngx-async-injector
  renovate:
    paths:
      - packages/renovate

feat(renovate): :bug: remove unnecessary task
  README.md
  packages/renovate/src/generators/renovate/generator.ts
  packages/renovate/src/generators/renovate/presets/default.json
Due: renovate

test(renovate): :bug: fix tests
  packages/renovate/src/generators/renovate/generator.spec.ts
Due: renovate

test(renovate): :white_check_mark: fix tests
  packages/renovate/src/generators/renovate/generator.spec.ts
Due: renovate

feat(renovate): :sparkles: setup schematic and e2e test (#685)
  README.md
  packages/renovate-e2e/project.json
  packages/renovate-e2e/tests/renovate.spec.ts
  packages/renovate/README.md
  packages/renovate/nx-migrations.json
  packages/renovate/package.json
  packages/renovate/schematics.json
  packages/renovate/src/generators/index.ts
  packages/renovate/src/generators/renovate/__snapshots__/generator.spec.ts.snap
  packages/renovate/src/generators/renovate/files/.github/renovate-config.js__tmpl__
  packages/renovate/src/generators/renovate/files/.github/renovate.json__tmpl__
  packages/renovate/src/generators/renovate/files/.github/workflows/renovate.yml__tmpl__
  packages/renovate/src/generators/renovate/files/src/index.ts__template__
  packages/renovate/src/generators/renovate/generator.compat.ts
  packages/renovate/src/generators/renovate/generator.spec.ts
  packages/renovate/src/generators/renovate/generator.ts
  packages/renovate/src/generators/renovate/index.ts
  packages/renovate/src/generators/renovate/presets/angularWorkspace.json
  packages/renovate/src/generators/renovate/presets/default.json
  packages/renovate/src/generators/renovate/presets/githubActions.json
  packages/renovate/src/generators/renovate/presets/gitmoji.json
  packages/renovate/src/generators/renovate/presets/groupAllNonMajor.json
  packages/renovate/src/generators/renovate/presets/maintenance.json
  packages/renovate/src/generators/renovate/presets/npm.json
  packages/renovate/src/generators/renovate/presets/nxMonorepo.json
  packages/renovate/src/generators/renovate/presets/tooling.json
  packages/renovate/src/generators/renovate/presets/widenRangeLibraryDeps.json
  packages/renovate/src/generators/renovate/renovate-config-validator-task.spec.ts
  packages/renovate/src/generators/renovate/renovate-config-validator-task.ts
  packages/renovate/src/generators/renovate/renovate.ts
  packages/renovate/src/generators/renovate/schema.d.ts
  packages/renovate/src/generators/renovate/schema.json
  packages/renovate/src/generators/renovate/schema.ts
  packages/renovate/src/generators/renovate/security/SECURITY.md
  packages/renovate/src/index.ts
Due: renovate

feat(renovate): :package: widen dep range
  packages/renovate/package.json
Due: renovate

chore(devkit): :package: release version 1.1.0 [skip ci]
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

chore(workspace): :package: release version 3.1.0 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

chore(renovate): :sparkles: setup release target
  packages/renovate/project.json
Due: renovate

chore(renovate): :package: release version 0.1.0 [skip ci]
  packages/renovate/CHANGELOG.md
  packages/renovate/package.json
Due: renovate

ci: :green_heart: add build step to release workflow
  .github/workflows/release.yml
Due: none

feat(renovate): :sparkles: release first stable version
  packages/renovate/src/executors/build/executor.spec.ts
  packages/renovate/src/executors/build/executor.ts
  packages/renovate/src/executors/build/schema.d.ts
  packages/renovate/src/executors/build/schema.json
Due: renovate

feat(renovate): :sparkles: release first stable version (#687)
  packages/renovate/src/executors/build/executor.spec.ts
  packages/renovate/src/executors/build/executor.ts
  packages/renovate/src/executors/build/schema.d.ts
  packages/renovate/src/executors/build/schema.json
Due: renovate

chore(renovate): :package: release version 1.0.0 [skip ci]
  packages/renovate/CHANGELOG.md
  packages/renovate/package.json
Due: renovate

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update tooling to v5.59.6
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.89.1
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.90.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.91.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.92.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.93.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.94.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.94.1
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.95.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.95.1
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @types/node to v18.16.13
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update tooling
  package-lock.json
  package.json
Due: none
