Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, renovate, ng-async-injector

chore: :arrow_down: downgrade to jest 28 form compatibility
  package-lock.json
  package.json
Due: none

chore: regenerate package-lock.json with npm@8.19.2
  package-lock.json
Due: none

feat(ng-async-injector): ✨ bootstrap library (#263)
  .codecov.yml
  .gitignore
  .vscode/settings.json
  README.md
  nx.json
  package-lock.json
  package.json
  packages/ng-async-injector/.eslintrc.json
  packages/ng-async-injector/README.md
  packages/ng-async-injector/jest.config.ts
  packages/ng-async-injector/ng-package.json
  packages/ng-async-injector/package.json
  packages/ng-async-injector/project.json
  packages/ng-async-injector/src/index.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/injector/index.ts
  packages/ng-async-injector/src/test-setup.ts
  packages/ng-async-injector/tsconfig.json
  packages/ng-async-injector/tsconfig.lib.json
  packages/ng-async-injector/tsconfig.lib.prod.json
  packages/ng-async-injector/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: ng-async-injector

feat(ng-async-injector): :sparkles: initial implementation of async injector
  package.json
  packages/ng-async-injector/src/index.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/injector/index.ts
  packages/ng-async-injector/src/lib/injector/provide-async.function.spec.ts
  packages/ng-async-injector/src/lib/injector/r3-async-injector.ts
  packages/ng-async-injector/src/lib/providers/provide-async-injector.function.spec.ts
  packages/ng-async-injector/src/lib/providers/provide-async-injector.function.ts
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
  packages/ng-async-injector/src/lib/tokens/async-injection-token.ts
  packages/workspace/.eslintrc.json
Due: workspace, ng-async-injector

feat(ng-async-injector): :sparkles: initial implementation of async injector (#264)
  package.json
  packages/ng-async-injector/src/index.ts
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/injector/index.ts
  packages/ng-async-injector/src/lib/injector/provide-async.function.spec.ts
  packages/ng-async-injector/src/lib/injector/r3-async-injector.ts
  packages/ng-async-injector/src/lib/providers/provide-async-injector.function.spec.ts
  packages/ng-async-injector/src/lib/providers/provide-async-injector.function.ts
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
  packages/ng-async-injector/src/lib/tokens/async-injection-token.ts
  packages/workspace/.eslintrc.json
Due: workspace, ng-async-injector

fix(workspace): :bug: fix order of commands for angular renovate upgrades
  .github/renovate-config.js
  nrwlWorkspace.json
  nx-create-migrations.sh
  packages/workspace/src/generators/renovate/files/.github/renovate-config.js__tmpl__
  packages/workspace/src/generators/renovate/generator.spec.ts
  packages/workspace/src/generators/renovate/presets/nrwlWorkspace.json
Due: workspace

fix(workspace): :bug: fix order of commands for angular renovate upgrades (#275)
  .github/renovate-config.js
  nrwlWorkspace.json
  nx-create-migrations.sh
  packages/workspace/src/generators/renovate/files/.github/renovate-config.js__tmpl__
  packages/workspace/src/generators/renovate/generator.spec.ts
  packages/workspace/src/generators/renovate/presets/nrwlWorkspace.json
Due: workspace

chore(deps): :arrow_up: update nrwl workspace
  package-lock.json
  package.json
  packages/ng-async-injector/package.json
Due: ng-async-injector

feat(ng-async-injector): :sparkles: support eager and lazy async injection tokens (#267)
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/injector/r3-async-injector.ts
  packages/ng-async-injector/src/lib/interfaces/async-static-provider.ts
  packages/ng-async-injector/src/lib/providers/provide-async-injector.function.ts
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: support eager and lazy async injection tokens (#267) (#276)
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/injector/r3-async-injector.ts
  packages/ng-async-injector/src/lib/interfaces/async-static-provider.ts
  packages/ng-async-injector/src/lib/providers/provide-async-injector.function.ts
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
Due: ng-async-injector

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update tooling
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update github actions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update dependency @commitlint/config-angular to v17.4.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v34.82.2
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update dependency postcss-import to v15
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency postcss-import to v15 (#282)
  package-lock.json
  package.json
Due: none

fix(renovate): :bug: disable major version upgrade of @types/jest
  nrwlWorkspace.json
  packages/workspace/src/generators/renovate/presets/nrwlWorkspace.json
Due: workspace

chore(deps): :arrow_up: update dependency @types/jest to v29
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v34.92.0
  .github/workflows/renovate.yml
Due: none

feat(ng-async-injector): :sparkles: provide multiple injection tokens (#268)
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
Due: ng-async-injector

chore: :arrow_up: update tsconfig base lib to 2019
  tsconfig.base.json
Due: none

feat(ng-async-injector): :sparkles: provide multiple injection tokens (#268) (#287)
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
  tsconfig.base.json
Due: ng-async-injector

feat(ng-async-injector): :sparkles: resolve all pending async injectors (#270)
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: resolve all pending async injectors (#270) (#289)
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/injector/async-injector.ts
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
Due: ng-async-injector

feat(ng-async-injector): :sparkles: improve type of provideAsync for multiple tokens
  packages/ng-async-injector/src/lib/injector/async-injector.spec.ts
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
Due: ng-async-injector

fix(ng-async-injector): :fire: remove unneeded casting on provideAsync
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
Due: ng-async-injector

fix(ng-async-injector): :fire: remove unnecessary cast in provideAsync
  packages/ng-async-injector/src/lib/providers/provide-async.function.ts
Due: ng-async-injector

chore(deps): :arrow_up: update nrwl workspace
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

Path conditions:
  workspace: any of: packages/workspace
  renovate: any of: packages/renovate
  ng-async-injector: any of: packages/ng-async-injector
