Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, devkit, ngx-async-injector, renovate

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      workspace:
        flags:
          - workspace
      devkit:
        flags:
          - devkit
      ngx-async-injector:
        flags:
          - ngx-async-injector
      renovate:
        flags:
          - renovate
flags:
  workspace:
    paths:
      - packages/workspace
  devkit:
    paths:
      - packages/devkit
  ngx-async-injector:
    paths:
      - packages/ngx-async-injector
  renovate:
    paths:
      - packages/renovate

fix(deps): :arrow_up: update dependency renovate to v35.75.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.76.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v37
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v37 (#670)
  .github/workflows/renovate.yml
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.77.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @types/node to v18.16.7
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.78.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.79.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.79.1
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.80.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @types/node to v18.16.8
  package-lock.json
  package.json
Due: none

ci: :bug: update release CI
  .github/WORKFLOW_ISSUE.md
  .github/workflows/release.yml
  .vscode/extensions.json
Due: none

chore(renovate): :sparkles: add ngx-deploy-npm
  nrwlWorkspace.json
Due: none

chore(deps): :arrow_up: update nrwl workspace
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nrwl workspace
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/ngx-async-injector/package.json
  packages/workspace/package.json
Due: workspace, devkit, ngx-async-injector

feat: :sparkles: prepare for v16
  nx.json
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/devkit/src/nx/add-implicit-dependency-to-nx-config.spec.ts
  packages/devkit/src/nx/add-implicit-dependency-to-nx-config.ts
  packages/ngx-async-injector/package.json
  packages/ngx-async-injector/project.json
  packages/ngx-async-injector/src/lib/injector/async-injector.ts
  packages/workspace/package.json
  packages/workspace/src/generators/codecov/generator.spec.ts
  packages/workspace/src/generators/github-workflow/generator.spec.ts
Due: workspace, devkit, ngx-async-injector

chore: :wrench: prefix jest output with workspace
  nx.json
Due: none

feat(deps): :arrow_up: update monorepo to Angular and Nx 16 (#679)
  nx.json
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/devkit/src/nx/add-implicit-dependency-to-nx-config.spec.ts
  packages/devkit/src/nx/add-implicit-dependency-to-nx-config.ts
  packages/ngx-async-injector/package.json
  packages/ngx-async-injector/project.json
  packages/ngx-async-injector/src/lib/injector/async-injector.ts
  packages/workspace/package.json
  packages/workspace/src/generators/codecov/generator.spec.ts
  packages/workspace/src/generators/github-workflow/generator.spec.ts
Due: workspace, devkit, ngx-async-injector

feat(workspace): :sparkles: fix renovate json
  .github/renovate.json
  packages/workspace/src/generators/renovate/files/.github/renovate.json__tmpl__
  packages/workspace/src/generators/renovate/generator.spec.ts
  packages/workspace/src/generators/renovate/renovate.ts
Due: workspace

chore(devkit): :package: release version 1.0.0 [skip ci]
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

chore(ngx-async-injector): :package: release version 2.0.0 [skip ci]
  packages/ngx-async-injector/CHANGELOG.md
  packages/ngx-async-injector/package.json
Due: ngx-async-injector

chore(workspace): :package: release version 3.0.0 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

feat(devkit): :sparkles: move github workflow utils from workspace to devkit project
  packages/devkit/package.json
  packages/devkit/src/github-workflow/github-workflow.spec.ts
  packages/devkit/src/github-workflow/github-workflow.ts
  packages/devkit/src/github-workflow/index.ts
  packages/devkit/src/index.ts
  packages/workspace/src/generators/codecov/generator.spec.ts
  packages/workspace/src/generators/codecov/generator.ts
  packages/workspace/src/generators/github-workflow/generator.spec.ts
  packages/workspace/src/generators/github-workflow/generator.ts
  packages/workspace/src/generators/github-workflow/index.ts
  packages/workspace/src/generators/renovate/generator.spec.ts
  packages/workspace/src/generators/renovate/generator.ts
Due: workspace, devkit

test(workspace-e2e): :white_check_mark: fix e2e test
  packages/workspace-e2e/tests/workspace.spec.ts
Due: workspace

feat(devkit): :sparkles: move github workflow utils from workspace to devkit project (#684)
  packages/devkit/package.json
  packages/devkit/src/github-workflow/github-workflow.spec.ts
  packages/devkit/src/github-workflow/github-workflow.ts
  packages/devkit/src/github-workflow/index.ts
  packages/devkit/src/index.ts
  packages/workspace-e2e/tests/workspace.spec.ts
  packages/workspace/src/generators/codecov/generator.spec.ts
  packages/workspace/src/generators/codecov/generator.ts
  packages/workspace/src/generators/github-workflow/generator.spec.ts
  packages/workspace/src/generators/github-workflow/generator.ts
  packages/workspace/src/generators/github-workflow/index.ts
  packages/workspace/src/generators/renovate/generator.spec.ts
  packages/workspace/src/generators/renovate/generator.ts
Due: workspace, devkit

feat(renovate): :sparkles: setup schematic and e2e test
  packages/renovate-e2e/tests/renovate.spec.ts
  packages/renovate/nx-migrations.json
  packages/renovate/package.json
  packages/renovate/schematics.json
  packages/renovate/src/generators/renovate/README.md
  packages/renovate/src/generators/renovate/__snapshots__/generator.spec.ts.snap
  packages/renovate/src/generators/renovate/files/.github/renovate-config.js__tmpl__
  packages/renovate/src/generators/renovate/files/.github/renovate.json__tmpl__
  packages/renovate/src/generators/renovate/files/.github/workflows/renovate.yml__tmpl__
  packages/renovate/src/generators/renovate/files/src/index.ts__template__
  packages/renovate/src/generators/renovate/generator.compat.ts
  packages/renovate/src/generators/renovate/generator.spec.ts
  packages/renovate/src/generators/renovate/generator.ts
  packages/renovate/src/generators/renovate/index.ts
  packages/renovate/src/generators/renovate/make-migrations-script-executable-task.spec.ts
  packages/renovate/src/generators/renovate/make-migrations-script-executable-task.ts
  packages/renovate/src/generators/renovate/presets/angularWorkspace.json
  packages/renovate/src/generators/renovate/presets/default.json
  packages/renovate/src/generators/renovate/presets/githubActions.json
  packages/renovate/src/generators/renovate/presets/gitmoji.json
  packages/renovate/src/generators/renovate/presets/groupAllNonMajor.json
  packages/renovate/src/generators/renovate/presets/maintenance.json
  packages/renovate/src/generators/renovate/presets/npm.json
  packages/renovate/src/generators/renovate/presets/nxMonorepo.json
  packages/renovate/src/generators/renovate/presets/tooling.json
  packages/renovate/src/generators/renovate/presets/widenRangeLibraryDeps.json
  packages/renovate/src/generators/renovate/renovate-config-validator-task.spec.ts
  packages/renovate/src/generators/renovate/renovate-config-validator-task.ts
  packages/renovate/src/generators/renovate/renovate.ts
  packages/renovate/src/generators/renovate/schema.d.ts
  packages/renovate/src/generators/renovate/schema.json
  packages/renovate/src/generators/renovate/schema.ts
  packages/renovate/src/generators/renovate/security/SECURITY.md
Due: renovate

test(renovate): :white_check_mark: fix e2e test
  packages/renovate-e2e/tests/renovate.spec.ts
  packages/renovate/package.json
Due: renovate

feat(renovate): :sparkles: export public API
  packages/renovate-e2e/tests/renovate.spec.ts
  packages/renovate/src/generators/index.ts
  packages/renovate/src/index.ts
Due: renovate

test(renovate): :white_check_mark: fix e2e tests
  packages/renovate-e2e/project.json
  packages/renovate/README.md
  packages/renovate/src/generators/renovate/README.md
Due: renovate

test(renovate): :white_check_mark: remove unneeded test
  packages/renovate-e2e/tests/renovate.spec.ts
  packages/renovate/src/generators/renovate/make-migrations-script-executable-task.spec.ts
  packages/renovate/src/generators/renovate/make-migrations-script-executable-task.ts
Due: renovate
