Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: devkit, ngx-async-injector, ngx-forms, ngx-ssr-app, renovate, utils, workspace

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      devkit:
        flags:
          - devkit
      ngx-async-injector:
        flags:
          - ngx-async-injector
      ngx-forms:
        flags:
          - ngx-forms
      ngx-ssr-app:
        flags:
          - ngx-ssr-app
      renovate:
        flags:
          - renovate
      typedoc:
        flags:
          - typedoc
      utils:
        flags:
          - utils
      workspace:
        flags:
          - workspace
flags:
  devkit:
    paths:
      - packages/devkit
  ngx-async-injector:
    paths:
      - packages/ngx-async-injector
  ngx-forms:
    paths:
      - packages/ngx-forms
  ngx-ssr-app:
    paths:
      - packages/ngx-ssr-app
  renovate:
    paths:
      - packages/renovate
  utils:
    paths:
      - packages/utils
  workspace:
    paths:
      - packages/workspace

chore(deps): :arrow_up: update dependency @swc-node/register to v1.10.9
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency eslint-plugin-prettier to v5.2.1
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency husky to v9.1.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency zone.js to v0.14.8
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @swc/core to v1.7.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency husky to v9.1.1
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency ts-jest to v29.2.3
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.433.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.433.1
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency nx to v19
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update dependency nx to v19 (#1587)
  packages/workspace/package.json
Due: workspace

chore: adjust migrate workflow for compatibility with ngrx signals
  .github/workflows/migrate.yml
Due: none

chore(deps): :arrow_up: update tooling
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

chore: :arrow_up: migrate Nx workspace
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/ngx-async-injector/package.json
  packages/ngx-forms/package.json
  packages/ngx-signal-forms/package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: devkit, ngx-async-injector, ngx-forms, renovate, workspace

chore(deps): :arrow_up: update nx monorepo
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

chore: fix package.json deps
  packages/devkit/package.json
  packages/ngx-async-injector/package.json
  packages/ngx-forms/package.json
  packages/ngx-signal-forms/package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: devkit, ngx-async-injector, ngx-forms, renovate, workspace

chore: format husky hooks
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: :arrow_up: migrate Nx workspace (#1610)
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

chore: adjust migration script to fix issue when formatting
  .github/workflows/migrate.yml
  .github/workflows/next.yml
  nx-migrate-latest.sh
Due: none

feat(renovate): :sparkles: avoid major upgrades of eslint
  nxMonorepo.json
  packages/renovate/src/generators/renovate/presets/nxMonorepo.json
Due: renovate

chore: :arrow_up: migrate Nx workspace
  package-lock.json
  package.json
Due: none

chore: :arrow_up: migrate Nx workspace (#1611)
  package-lock.json
  package.json
Due: none

chore(deps): upgrade verdaccio
  package-lock.json
  package.json
Due: none

chore(verdaccio): force use of local packages
  .verdaccio/config.yml
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v40.2.3
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: devkit, renovate, workspace

chore(deps): :arrow_up: update dependency renovate to v38
  package-lock.json
  package.json
  packages/renovate/package.json
Due: renovate
