Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, devkit, ngx-async-injector, renovate

chore(deps): :arrow_up: update tooling
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v37.1.0
  .github/workflows/renovate.yml
Due: none

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: workspace, devkit, renovate

fix(deps): :arrow_up: update dependency renovate to v35.98.8
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v38
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v38 (#706)
  .github/workflows/renovate.yml
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.99.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.100.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.100.1
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.100.2
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.100.3
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @swc/core to v1.3.60
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v35.101.0
  package-lock.json
  package.json
Due: none

fix(renovate): :bug: don't update tslib
  nxMonorepo.json
  packages/renovate/src/generators/renovate/presets/nxMonorepo.json
Due: renovate

fix(renovate): :bug: don't update tslib (#715)
  nxMonorepo.json
  packages/renovate/src/generators/renovate/presets/nxMonorepo.json
Due: renovate

chore(deps): :arrow_up: update dependency typescript to v5
  package.json
Due: none

fix(renovate): :bug: tweak post upgrade command for nx migrate
  .github/renovate-config.js
  nxMonorepo.json
  package.json
  packages/renovate/src/generators/renovate/__snapshots__/generator.spec.ts.snap
  packages/renovate/src/generators/renovate/files/.github/renovate-config.js__tmpl__
  packages/renovate/src/generators/renovate/presets/nxMonorepo.json
  packages/workspace/src/generators/github-workflow/generator.spec.ts
  packages/workspace/src/generators/github-workflow/generator.ts
  packages/workspace/src/generators/renovate/files/.github/renovate-config.js__tmpl__
  packages/workspace/src/generators/renovate/generator.spec.ts
  packages/workspace/src/generators/renovate/presets/nxMonorepo.json
Due: workspace, renovate

ci: :bug: remove lint workspace
  .github/workflows/ci.yml
  .github/workflows/next.yml
  nxMonorepo.json
  packages/renovate/src/generators/renovate/presets/nxMonorepo.json
  packages/workspace/src/generators/github-workflow/files/ci.yml__tmpl__
  packages/workspace/src/generators/github-workflow/generator.spec.ts
Due: workspace, renovate

test(renovate): :white_check_mark: fix test snapshot
  packages/renovate/src/generators/renovate/__snapshots__/generator.spec.ts.snap
Due: renovate

fix(renovate): :bug: tweak post upgrade command for nx migrate, remove workspace lint (#717)
  .github/renovate-config.js
  .github/workflows/ci.yml
  .github/workflows/next.yml
  nxMonorepo.json
  package.json
  packages/renovate/src/generators/renovate/__snapshots__/generator.spec.ts.snap
  packages/renovate/src/generators/renovate/files/.github/renovate-config.js__tmpl__
  packages/renovate/src/generators/renovate/presets/nxMonorepo.json
  packages/workspace/src/generators/github-workflow/files/ci.yml__tmpl__
  packages/workspace/src/generators/github-workflow/generator.spec.ts
  packages/workspace/src/generators/github-workflow/generator.ts
  packages/workspace/src/generators/renovate/files/.github/renovate-config.js__tmpl__
  packages/workspace/src/generators/renovate/generator.spec.ts
  packages/workspace/src/generators/renovate/presets/nxMonorepo.json
Due: workspace, renovate

fix(renovate): :bug: fix nx migrate post upgrade command
  .github/renovate-config.js
  packages/renovate/src/generators/renovate/__snapshots__/generator.spec.ts.snap
  packages/renovate/src/generators/renovate/files/.github/renovate-config.js__tmpl__
Due: renovate

fix(renovate): :bug: fix nx migrate post upgrade command (#718)
  .github/renovate-config.js
  packages/renovate/src/generators/renovate/__snapshots__/generator.spec.ts.snap
  packages/renovate/src/generators/renovate/files/.github/renovate-config.js__tmpl__
Due: renovate

chore(deps): :arrow_up: update nx monorepo
  package-lock.json
  package.json
  packages/devkit-e2e/project.json
  packages/renovate-e2e/project.json
  packages/workspace-e2e/project.json
Due: workspace, devkit, renovate

fix(deps): :arrow_up: update dependency renovate to v35.102.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo to v16.0.3
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @types/node to v18.16.15
  package-lock.json
  package.json
Due: none

Path conditions:
  workspace: any of: packages/workspace
  devkit: any of: packages/devkit
  ngx-async-injector: any of: packages/ngx-async-injector
  renovate: any of: packages/renovate
