Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, devkit, ngx-async-injector, renovate

fix(renovate): :bug: separate tooling preset (#829)
  .github/renovate.json
  default.json
  packages/renovate/README.md
  packages/renovate/src/generators/renovate/files/.github/renovate.json__tmpl__
  packages/renovate/src/generators/renovate/generator.spec.ts
  packages/renovate/src/generators/renovate/presets/default.json
Due: renovate

feat(renovate): :sparkles: upgrade to renovate v36
  .github/renovate-config.js
  .github/renovate.json
  angularWorkspace.json
  default.json
  nxMonorepo.json
  package-lock.json
  package.json
  packages/renovate/package.json
  packages/renovate/src/generators/renovate/__snapshots__/generator.spec.ts.snap
  packages/renovate/src/generators/renovate/files/.github/renovate-config.js__tmpl__
  packages/renovate/src/generators/renovate/files/.github/renovate.json__tmpl__
  packages/renovate/src/generators/renovate/generator.spec.ts
  packages/renovate/src/generators/renovate/presets/angularWorkspace.json
  packages/renovate/src/generators/renovate/presets/default.json
  packages/renovate/src/generators/renovate/presets/nxMonorepo.json
  packages/renovate/src/generators/renovate/presets/tooling.json
  packages/workspace/package.json
  packages/workspace/src/generators/renovate/__snapshots__/generator.spec.ts.snap
  packages/workspace/src/generators/renovate/files/.github/renovate-config.js__tmpl__
  packages/workspace/src/generators/renovate/files/.github/renovate.json__tmpl__
  packages/workspace/src/generators/renovate/generator.spec.ts
  packages/workspace/src/generators/renovate/presets/angularWorkspace.json
  packages/workspace/src/generators/renovate/presets/default.json
  packages/workspace/src/generators/renovate/presets/nxMonorepo.json
  packages/workspace/src/generators/renovate/presets/tooling.json
  tooling.json
Due: workspace, renovate

feat(renovate): :sparkles: upgrade to renovate v36 (#830)
  .github/renovate-config.js
  .github/renovate.json
  angularWorkspace.json
  default.json
  nxMonorepo.json
  package-lock.json
  package.json
  packages/renovate/package.json
  packages/renovate/src/generators/renovate/__snapshots__/generator.spec.ts.snap
  packages/renovate/src/generators/renovate/files/.github/renovate-config.js__tmpl__
  packages/renovate/src/generators/renovate/files/.github/renovate.json__tmpl__
  packages/renovate/src/generators/renovate/generator.spec.ts
  packages/renovate/src/generators/renovate/presets/angularWorkspace.json
  packages/renovate/src/generators/renovate/presets/default.json
  packages/renovate/src/generators/renovate/presets/nxMonorepo.json
  packages/renovate/src/generators/renovate/presets/tooling.json
  packages/workspace/package.json
  packages/workspace/src/generators/renovate/__snapshots__/generator.spec.ts.snap
  packages/workspace/src/generators/renovate/files/.github/renovate-config.js__tmpl__
  packages/workspace/src/generators/renovate/files/.github/renovate.json__tmpl__
  packages/workspace/src/generators/renovate/generator.spec.ts
  packages/workspace/src/generators/renovate/presets/angularWorkspace.json
  packages/workspace/src/generators/renovate/presets/default.json
  packages/workspace/src/generators/renovate/presets/nxMonorepo.json
  packages/workspace/src/generators/renovate/presets/tooling.json
  tooling.json
Due: workspace, renovate

fix(renovate): :bug: disable major version for eslint prettier
  nxMonorepo.json
  packages/renovate/src/generators/renovate/presets/nxMonorepo.json
Due: renovate

fix(renovate): :bug: disable major version for eslint prettier (#828)
  nxMonorepo.json
  packages/renovate/src/generators/renovate/presets/nxMonorepo.json
Due: renovate

feat(workspace): :boom: migrate renovate schematics to standalone package
  packages/workspace-e2e/tests/workspace.spec.ts
  packages/workspace/README.md
  packages/workspace/generators.json
  packages/workspace/package.json
  packages/workspace/schematics.json
  packages/workspace/src/generators/index.ts
  packages/workspace/src/generators/renovate/README.md
  packages/workspace/src/generators/renovate/__snapshots__/generator.spec.ts.snap
  packages/workspace/src/generators/renovate/files/.github/renovate-config.js__tmpl__
  packages/workspace/src/generators/renovate/files/.github/renovate.json__tmpl__
  packages/workspace/src/generators/renovate/files/.github/workflows/renovate.yml__tmpl__
  packages/workspace/src/generators/renovate/files/nx-create-migrations.sh
  packages/workspace/src/generators/renovate/generator.compat.ts
  packages/workspace/src/generators/renovate/generator.spec.ts
  packages/workspace/src/generators/renovate/generator.ts
  packages/workspace/src/generators/renovate/index.ts
  packages/workspace/src/generators/renovate/make-migrations-script-executable-task.spec.ts
  packages/workspace/src/generators/renovate/make-migrations-script-executable-task.ts
  packages/workspace/src/generators/renovate/presets/angularWorkspace.json
  packages/workspace/src/generators/renovate/presets/default.json
  packages/workspace/src/generators/renovate/presets/githubActions.json
  packages/workspace/src/generators/renovate/presets/gitmoji.json
  packages/workspace/src/generators/renovate/presets/groupAllNonMajor.json
  packages/workspace/src/generators/renovate/presets/maintenance.json
  packages/workspace/src/generators/renovate/presets/npm.json
  packages/workspace/src/generators/renovate/presets/nxMonorepo.json
  packages/workspace/src/generators/renovate/presets/tooling.json
  packages/workspace/src/generators/renovate/presets/widenRangeLibraryDeps.json
  packages/workspace/src/generators/renovate/renovate-config-validator-task.spec.ts
  packages/workspace/src/generators/renovate/renovate-config-validator-task.ts
  packages/workspace/src/generators/renovate/renovate.ts
  packages/workspace/src/generators/renovate/schema.json
  packages/workspace/src/generators/renovate/schema.ts
  packages/workspace/src/generators/renovate/security/SECURITY.md
Due: workspace

feat(workspace): :boom: migrate renovate schematics to standalone package (#831)
  packages/workspace-e2e/tests/workspace.spec.ts
  packages/workspace/README.md
  packages/workspace/generators.json
  packages/workspace/package.json
  packages/workspace/schematics.json
  packages/workspace/src/generators/index.ts
  packages/workspace/src/generators/renovate/README.md
  packages/workspace/src/generators/renovate/__snapshots__/generator.spec.ts.snap
  packages/workspace/src/generators/renovate/files/.github/renovate-config.js__tmpl__
  packages/workspace/src/generators/renovate/files/.github/renovate.json__tmpl__
  packages/workspace/src/generators/renovate/files/.github/workflows/renovate.yml__tmpl__
  packages/workspace/src/generators/renovate/files/nx-create-migrations.sh
  packages/workspace/src/generators/renovate/generator.compat.ts
  packages/workspace/src/generators/renovate/generator.spec.ts
  packages/workspace/src/generators/renovate/generator.ts
  packages/workspace/src/generators/renovate/index.ts
  packages/workspace/src/generators/renovate/make-migrations-script-executable-task.spec.ts
  packages/workspace/src/generators/renovate/make-migrations-script-executable-task.ts
  packages/workspace/src/generators/renovate/presets/angularWorkspace.json
  packages/workspace/src/generators/renovate/presets/default.json
  packages/workspace/src/generators/renovate/presets/githubActions.json
  packages/workspace/src/generators/renovate/presets/gitmoji.json
  packages/workspace/src/generators/renovate/presets/groupAllNonMajor.json
  packages/workspace/src/generators/renovate/presets/maintenance.json
  packages/workspace/src/generators/renovate/presets/npm.json
  packages/workspace/src/generators/renovate/presets/nxMonorepo.json
  packages/workspace/src/generators/renovate/presets/tooling.json
  packages/workspace/src/generators/renovate/presets/widenRangeLibraryDeps.json
  packages/workspace/src/generators/renovate/renovate-config-validator-task.spec.ts
  packages/workspace/src/generators/renovate/renovate-config-validator-task.ts
  packages/workspace/src/generators/renovate/renovate.ts
  packages/workspace/src/generators/renovate/schema.json
  packages/workspace/src/generators/renovate/schema.ts
  packages/workspace/src/generators/renovate/security/SECURITY.md
Due: workspace

fix(renovate): :bug: fix fork config
  .github/renovate-config.js
  packages/renovate/src/generators/renovate/__snapshots__/generator.spec.ts.snap
  packages/renovate/src/generators/renovate/files/.github/renovate-config.js__tmpl__
Due: renovate

fix(renovate): :bug: fix fork config (#832)
  .github/renovate-config.js
  packages/renovate/src/generators/renovate/__snapshots__/generator.spec.ts.snap
  packages/renovate/src/generators/renovate/files/.github/renovate-config.js__tmpl__
Due: renovate

fix(renovate): :bug: don't upgrade major version of @typescript-eslint/*
  nxMonorepo.json
  packages/renovate/src/generators/renovate/presets/nxMonorepo.json
Due: renovate

fix(renovate): :bug: don't upgrade major version of @typescript-eslint/* (#833)
  nxMonorepo.json
  packages/renovate/src/generators/renovate/presets/nxMonorepo.json
Due: renovate

ci: :green_heart: run e2e not in parallel for next workflow
  .github/workflows/next.yml
Due: none

ci: :green_heart: run e2e not in parallel for next workflow (#834)
  .github/workflows/next.yml
Due: none

feat(workspace): :sparkles: migrate to named inputs (#680)
  packages/devkit/src/nx/add-implicit-dependency-to-nx-config.spec.ts
  packages/devkit/src/nx/add-implicit-dependency-to-nx-config.ts
  packages/devkit/src/nx/add-nx-named-input.spec.ts
  packages/devkit/src/nx/add-nx-named-input.ts
  packages/devkit/src/nx/index.ts
  packages/workspace/src/generators/codecov/generator.spec.ts
  packages/workspace/src/generators/codecov/generator.ts
  packages/workspace/src/generators/github-workflow/__snapshots__/generator.spec.ts.snap
  packages/workspace/src/generators/github-workflow/generator.spec.ts
  packages/workspace/src/generators/github-workflow/generator.ts
Due: workspace, devkit

feat(workspace): :sparkles: migrate to named inputs (#680) (#835)
  packages/devkit/src/nx/add-implicit-dependency-to-nx-config.spec.ts
  packages/devkit/src/nx/add-implicit-dependency-to-nx-config.ts
  packages/devkit/src/nx/add-nx-named-input.spec.ts
  packages/devkit/src/nx/add-nx-named-input.ts
  packages/devkit/src/nx/index.ts
  packages/workspace/src/generators/codecov/generator.spec.ts
  packages/workspace/src/generators/codecov/generator.ts
  packages/workspace/src/generators/github-workflow/__snapshots__/generator.spec.ts.snap
  packages/workspace/src/generators/github-workflow/generator.spec.ts
  packages/workspace/src/generators/github-workflow/generator.ts
Due: workspace, devkit

chore(deps): :arrow_up: update nx monorepo to v16.5.5
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo to v16.5.5 (#836)
  package-lock.json
  package.json
Due: none

test(ngx-async-injector-app): :white_check_mark: migrate e2e tests to project (#683)
  .vscode/settings.json
  packages/ngx-async-injector-app/.eslintrc.json
  packages/ngx-async-injector-app/cypress.config.ts
  packages/ngx-async-injector-app/cypress/e2e/app.cy.ts
  packages/ngx-async-injector-app/cypress/support/app.po.ts
  packages/ngx-async-injector-app/cypress/support/commands.ts
  packages/ngx-async-injector-app/cypress/support/e2e.ts
  packages/ngx-async-injector-app/cypress/tsconfig.json
  packages/ngx-async-injector-app/project.json
  packages/ngx-async-injector-app/tsconfig.json
  packages/ngx-async-injector-e2e/.eslintrc.json
  packages/ngx-async-injector-e2e/project.json
  packages/ngx-async-injector-e2e/tsconfig.json
Due: ngx-async-injector

chore(ngx-async-injector-app): :bug: fix e2e default serve project
  packages/ngx-async-injector-app/project.json
Due: ngx-async-injector

test(ngx-async-injector-app): :white_check_mark: migrate e2e tests to project (#683) (#837)
  .vscode/settings.json
  packages/ngx-async-injector-app/.eslintrc.json
  packages/ngx-async-injector-app/cypress.config.ts
  packages/ngx-async-injector-app/cypress/e2e/app.cy.ts
  packages/ngx-async-injector-app/cypress/support/app.po.ts
  packages/ngx-async-injector-app/cypress/support/commands.ts
  packages/ngx-async-injector-app/cypress/support/e2e.ts
  packages/ngx-async-injector-app/cypress/tsconfig.json
  packages/ngx-async-injector-app/project.json
  packages/ngx-async-injector-app/tsconfig.json
  packages/ngx-async-injector-e2e/.eslintrc.json
  packages/ngx-async-injector-e2e/project.json
  packages/ngx-async-injector-e2e/tsconfig.json
Due: ngx-async-injector

chore: :hammer: add dependency check eslint rule (#789)
  nx.json
  packages/devkit/.eslintrc.json
  packages/ngx-async-injector/.eslintrc.json
  packages/renovate/.eslintrc.json
  packages/workspace/.eslintrc.json
Due: workspace, devkit, ngx-async-injector, renovate

chore: :wrench: move dependency check to root eslint config
  .eslintrc.json
  packages/devkit/.eslintrc.json
  packages/ngx-async-injector/.eslintrc.json
  packages/renovate/.eslintrc.json
  packages/workspace/.eslintrc.json
Due: workspace, devkit, ngx-async-injector, renovate

chore: :pushpin: fix dependencies
  .eslintrc.json
  package-lock.json
  package.json
  packages/devkit/.eslintrc.json
  packages/devkit/package.json
  packages/ngx-async-injector/package.json
  packages/renovate/.eslintrc.json
  packages/workspace/.eslintrc.json
Due: workspace, devkit, ngx-async-injector, renovate

chore: :hammer: fix ignored dependency
  packages/renovate/.eslintrc.json
Due: renovate

chore: :hammer: add dependency check eslint rule (#789) (#838)
  .eslintrc.json
  nx.json
  package-lock.json
  package.json
  packages/devkit/.eslintrc.json
  packages/devkit/package.json
  packages/ngx-async-injector/.eslintrc.json
  packages/ngx-async-injector/package.json
  packages/renovate/.eslintrc.json
  packages/workspace/.eslintrc.json
Due: workspace, devkit, ngx-async-injector, renovate

chore(devkit): :sparkles: use radash (#538)
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/devkit/src/nx/add-nx-named-input.ts
  packages/devkit/src/utils/set.spec.ts
  packages/devkit/src/utils/set.ts
  packages/workspace/src/generators/eslint/eslint-config.ts
Due: workspace, devkit

chore: add radash dep
  packages/workspace/package.json
Due: workspace

chore(devkit): :sparkles: use radash (#538) (#839)
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/devkit/src/nx/add-nx-named-input.ts
  packages/devkit/src/utils/set.spec.ts
  packages/devkit/src/utils/set.ts
  packages/workspace/package.json
  packages/workspace/src/generators/eslint/eslint-config.ts
Due: workspace, devkit

chore(devkit): :package: release version 1.2.0 [skip ci]
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

chore(workspace): :package: release version 4.0.0 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

chore(renovate): :package: release version 2.0.0 [skip ci]
  packages/renovate/CHANGELOG.md
  packages/renovate/package.json
Due: renovate

chore(ngx-async-injector): :package: release version 2.0.1 [skip ci]
  packages/ngx-async-injector/CHANGELOG.md
  packages/ngx-async-injector/package.json
Due: ngx-async-injector

docs(workspace): :memo: update CHANGELOG.md
  packages/workspace/CHANGELOG.md
Due: workspace

chore(deps): :arrow_up: update dependency eslint-plugin-unused-imports to v3
  package.json
Due: none

feat(ngx-forms): :tada: scaffold ngx-forms library
  .prettierignore
  .vscode/settings.json
  nx.json
  packages/ngx-forms/.eslintrc.json
  packages/ngx-forms/README.md
  packages/ngx-forms/jest.config.ts
  packages/ngx-forms/ng-package.json
  packages/ngx-forms/package.json
  packages/ngx-forms/project.json
  packages/ngx-forms/src/index.ts
  packages/ngx-forms/src/lib/ngx-forms/ngx-forms.component.ts
  packages/ngx-forms/src/test-setup.ts
  packages/ngx-forms/tsconfig.json
  packages/ngx-forms/tsconfig.lib.json
  packages/ngx-forms/tsconfig.lib.prod.json
  packages/ngx-forms/tsconfig.spec.json
  tsconfig.base.json
Due: none

chore(ngx-forms): :hammer: update codecov
  .codecov.yml
Due: none

fix(ngx-forms): :pushpin: add missing dependency
  packages/ngx-forms/package.json
Due: none

feat(ngx-forms): :sparkles: scaffold function
  packages/ngx-forms/src/index.ts
  packages/ngx-forms/src/lib/ngx-forms/ngx-forms.component.ts
  packages/ngx-forms/src/lib/providers/index.ts
  packages/ngx-forms/src/lib/providers/provide-lazy-validator.spec.ts
  packages/ngx-forms/src/lib/providers/provide-lazy-validator.ts
Due: none

feat(ngx-forms): :sparkles: implement lazy validator
  packages/ngx-forms/src/index.ts
  packages/ngx-forms/src/lib/functions/lazy-validator.spec.ts
  packages/ngx-forms/src/lib/functions/lazy-validator.ts
  packages/ngx-forms/src/lib/providers/index.ts
  packages/ngx-forms/src/lib/providers/provide-lazy-validator.spec.ts
  packages/ngx-forms/src/lib/providers/provide-lazy-validator.ts
  packages/ngx-forms/src/lib/tokens/load-validator.token.ts
  packages/ngx-forms/src/lib/types/load-validator-fn.ts
  packages/ngx-forms/src/lib/validators/lazy-validator.ts
Due: none

feat(ngx-forms): :tada: initial version (#374) (#840)
  .codecov.yml
  .prettierignore
  .vscode/settings.json
  nx.json
  packages/ngx-forms/.eslintrc.json
  packages/ngx-forms/README.md
  packages/ngx-forms/jest.config.ts
  packages/ngx-forms/ng-package.json
  packages/ngx-forms/package.json
  packages/ngx-forms/project.json
  packages/ngx-forms/src/index.ts
  packages/ngx-forms/src/lib/functions/lazy-validator.spec.ts
  packages/ngx-forms/src/lib/functions/lazy-validator.ts
  packages/ngx-forms/src/lib/providers/provide-lazy-validator.spec.ts
  packages/ngx-forms/src/lib/providers/provide-lazy-validator.ts
  packages/ngx-forms/src/lib/tokens/load-validator.token.ts
  packages/ngx-forms/src/lib/types/load-validator-fn.ts
  packages/ngx-forms/src/lib/validators/lazy-validator.ts
  packages/ngx-forms/src/test-setup.ts
  packages/ngx-forms/tsconfig.json
  packages/ngx-forms/tsconfig.lib.json
  packages/ngx-forms/tsconfig.lib.prod.json
  packages/ngx-forms/tsconfig.spec.json
  tsconfig.base.json
Due: none

Path conditions:
  workspace: any of: packages/workspace
  devkit: any of: packages/devkit
  ngx-async-injector: any of: packages/ngx-async-injector
  renovate: any of: packages/renovate
