Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, ng-async-injector

chore(deps): :arrow_up: update tooling
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v34.118.2
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update renovatebot/github-action action to v34.122.0
  .github/workflows/renovate.yml
Due: none

fix(deps): :arrow_up: update dependency renovate to v34.118.3
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

fix(deps): :arrow_up: update dependency ngx-deploy-npm to v5
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency ngx-deploy-npm to v5 (#411)
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nrwl workspace
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

fix(deps): :arrow_up: update dependency renovate to v34.119.0
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update nrwl workspace
  package-lock.json
  package.json
  packages/ng-async-injector/package.json
Due: ng-async-injector

fix(deps): :arrow_up: update dependency renovate to v34.119.1
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update nrwl workspace (#417)
  package-lock.json
  package.json
  packages/ng-async-injector/package.json
Due: ng-async-injector

chore(deps): :arrow_up: update dependency cypress to v12.5.1
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency cypress to v12.5.1 (#416)
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v34.119.2
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

fix(deps): :arrow_up: update dependency renovate to v34.119.4
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

fix(deps): :arrow_up: update dependency renovate to v34.119.4 (#419)
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update renovatebot/github-action action to v34.124.1
  .github/workflows/renovate.yml
Due: none

fix(deps): :arrow_up: update dependency renovate to v34.119.5
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

fix(deps): :arrow_up: update dependency renovate to v34.120.0
  package-lock.json
  package.json
  packages/workspace/package.json
Due: workspace

chore(deps): :arrow_up: update renovatebot/github-action action to v34.124.3
  .github/workflows/renovate.yml
Due: none

feat(ng-async-injector): :memo: update package.json metadata
  packages/ng-async-injector/package.json
Due: ng-async-injector

fix(workspace): :package: fix homepage in package.json
  packages/workspace/package.json
Due: workspace

ci: :green_heart: new pipeline to early test next version
  .github/workflows/next.yml
Due: none

ci: :green_heart: new pipeline to early test next version (#424)
  .github/workflows/next.yml
Due: none

fix(deps): :arrow_up: update nrwl workspace to ^15.1.2
  package-lock.json
  packages/ng-async-injector/package.json
Due: ng-async-injector

ci: :bug: fix next pipeline
  .github/workflows/next.yml
Due: none

fix(deps): :arrow_up: update nrwl workspace to ^15.1.3
  package-lock.json
  packages/ng-async-injector/package.json
Due: ng-async-injector

chore(workspace): :package: release version 1.2.2 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

Path conditions:
  workspace: any of: packages/workspace
  ng-async-injector: any of: packages/ng-async-injector
