Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: devkit, ngx-async-injector, ngx-forms, ngx-ssr-app, renovate, utils, workspace

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      devkit:
        flags:
          - devkit
      ngx-async-injector:
        flags:
          - ngx-async-injector
      ngx-forms:
        flags:
          - ngx-forms
      ngx-ssr-app:
        flags:
          - ngx-ssr-app
      renovate:
        flags:
          - renovate
      typedoc:
        flags:
          - typedoc
      utils:
        flags:
          - utils
      workspace:
        flags:
          - workspace
flags:
  devkit:
    paths:
      - packages/devkit
  ngx-async-injector:
    paths:
      - packages/ngx-async-injector
  ngx-forms:
    paths:
      - packages/ngx-forms
  ngx-ssr-app:
    paths:
      - packages/ngx-ssr-app
  renovate:
    paths:
      - packages/renovate
  utils:
    paths:
      - packages/utils
  workspace:
    paths:
      - packages/workspace

fix(deps): :arrow_up: update dependency renovate to v37.43.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.43.1
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update tooling
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: devkit, renovate, workspace

fix(deps): :arrow_up: update dependency renovate to v37.51.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update tooling to v16.3.1
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.51.2
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo to v17
  e2e/ngx-ssr-app/project.json
  e2e/ngx-ssr-app/server.ts.bak
  package-lock.json
  package.json
  packages/ngx-async-injector/package.json
  packages/ngx-forms/package.json
Due: ngx-async-injector, ngx-forms

chore: upgrade to Angular v17
  .eslintrc.json
  e2e/ngx-async-injector-app/project.json
  e2e/ngx-forms-app/project.json
  e2e/ngx-ssr-app/project.json
  e2e/workspace-e2e/tests/workspace.spec.ts
  package-lock.json
  package.json
  packages/ngx-async-injector/src/lib/injector/async-injector.ts
  packages/ngx-async-injector/src/lib/interfaces/injection-context.ts
  packages/workspace/README.md
  packages/workspace/src/generators/eslint/README.md
  packages/workspace/src/generators/eslint/generator.spec.ts
  packages/workspace/src/generators/eslint/generator.ts
  packages/workspace/src/generators/eslint/rules.ts
  packages/workspace/src/generators/eslint/schema.json
Due: ngx-async-injector, workspace

chore: add additional files
  packages/devkit/package.json
  packages/ngx-async-injector/package.json
  packages/ngx-forms/package.json
Due: devkit, ngx-async-injector, ngx-forms

chore: regenerate package-lock.json
  package-lock.json
Due: none

chore: fix SSR
  e2e/ngx-ssr-app/server.ts
Due: none

chore: upgrade to Angular v17 (#1043)
  .eslintrc.json
  e2e/ngx-async-injector-app/project.json
  e2e/ngx-forms-app/project.json
  e2e/ngx-ssr-app/project.json
  e2e/ngx-ssr-app/server.ts
  e2e/workspace-e2e/tests/workspace.spec.ts
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/ngx-async-injector/package.json
  packages/ngx-async-injector/src/lib/injector/async-injector.ts
  packages/ngx-async-injector/src/lib/interfaces/injection-context.ts
  packages/ngx-forms/package.json
  packages/workspace/README.md
  packages/workspace/src/generators/eslint/README.md
  packages/workspace/src/generators/eslint/generator.spec.ts
  packages/workspace/src/generators/eslint/generator.ts
  packages/workspace/src/generators/eslint/rules.ts
  packages/workspace/src/generators/eslint/schema.json
Due: devkit, ngx-async-injector, ngx-forms, workspace

fix(deps): :arrow_up: update dependency renovate to v37.51.3
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update tooling to v6.10.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.52.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

chore: remove deprecated test signatures
  package.json
  packages/devkit/src/git/git-make-executable.spec.ts
  packages/ngx-async-injector/src/lib/injector/async-injector.spec.ts
  packages/workspace/src/generators/codecov/codecov.spec.ts
Due: devkit, ngx-async-injector, workspace

chore: use toHaveBeenCalledWith in tests
  package-lock.json
  packages/devkit/src/exec/exec.spec.ts
Due: devkit

chore(renovate): :hammer: ignore overrides dep type for Nx monorepos
  nxMonorepo.json
Due: none

chore: add node-fetch for testing
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @nx/devkit to >=16.10.0
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: devkit, renovate, workspace

feat: :arrow_up: upgrade to Angular v17
  packages/ngx-async-injector/package.json
  packages/ngx-forms/package.json
Due: ngx-async-injector, ngx-forms

fix(deps): :arrow_up: update dependency renovate to v37.53.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v39.1.3
  .github/workflows/renovate.yml
Due: none
