Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: workspace, devkit, ngx-async-injector, renovate, ngx-forms, utils

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      workspace:
        flags:
          - workspace
      devkit:
        flags:
          - devkit
      ngx-async-injector:
        flags:
          - ngx-async-injector
      renovate:
        flags:
          - renovate
      ngx-forms:
        flags:
          - ngx-forms
      utils:
        flags:
          - utils
flags:
  workspace:
    paths:
      - packages/workspace
  devkit:
    paths:
      - packages/devkit
  ngx-async-injector:
    paths:
      - packages/ngx-async-injector
  renovate:
    paths:
      - packages/renovate
  ngx-forms:
    paths:
      - packages/ngx-forms
  utils:
    paths:
      - packages/utils

chore(deps): :arrow_up: update dependency @types/node to v18.17.9
  package.json
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies to v29.6.4
  package.json
Due: none

chore(deps): :arrow_up: update dependency @types/node to v18.17.11
  package.json
Due: none

fix: package.json to reduce vulnerabilities
  package.json
Due: none

chore: downgrade typedoc and create separate renovate group
  .github/renovate.json
  package-lock.json
  package.json
  typedoc.json
Due: none

chore: fix linting config
  .eslintrc.json
  packages/devkit/.eslintrc.json
  packages/workspace/.eslintrc.json
Due: workspace, devkit

chore: pin typedoc
  typedoc.json
Due: none

chore: downgrade typedoc and create separate renovate group (#922)
  .eslintrc.json
  .github/renovate.json
  package-lock.json
  package.json
  packages/devkit/.eslintrc.json
  packages/workspace/.eslintrc.json
  typedoc.json
Due: workspace, devkit

chore: group major versions in renovate for typedoc
  typedoc.json
Due: none

chore: add post upgrade task to typedoc renovate config
  .github/renovate-config.js
  typedoc.json
Due: none

chore(deps): :arrow_up: update github actions
  .github/workflows/ci.yml
  .github/workflows/next.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update github actions (#910)
  .github/workflows/ci.yml
  .github/workflows/next.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: none

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: workspace, devkit, renovate

fix(deps): :arrow_up: update all non-major dependencies (#912)
  package-lock.json
  package.json
  packages/devkit/package.json
  packages/renovate/package.json
  packages/workspace/package.json
Due: workspace, devkit, renovate

fix(deps): :arrow_up: update dependency which to v4
  package-lock.json
  package.json
  packages/devkit/package.json
Due: devkit

fix(deps): :arrow_up: update dependency which to v4 (#924)
  package-lock.json
  package.json
  packages/devkit/package.json
Due: devkit

chore(devkit): :package: release version 1.2.3 [skip ci]
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

chore(utils): :package: release version 1.0.2 [skip ci]
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: utils

chore(workspace): :package: release version 4.0.4 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

chore(renovate): :package: release version 2.0.3 [skip ci]
  packages/renovate/CHANGELOG.md
  packages/renovate/package.json
Due: renovate

chore(ngx-forms): :package: release version 1.1.2 [skip ci]
  packages/ngx-forms/CHANGELOG.md
  packages/ngx-forms/package.json
Due: ngx-forms

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency ng-packagr to v16.2.2
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency eslint to v8.48.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v36.72.2
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v36.73.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v36.74.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency @swc/core to v1.3.81
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v36.74.2
  package-lock.json
  package.json
Due: none
