Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: devkit, ngx-async-injector, ngx-forms, ngx-ssr-app, renovate, utils, workspace

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      devkit:
        flags:
          - devkit
      ngx-async-injector:
        flags:
          - ngx-async-injector
      ngx-forms:
        flags:
          - ngx-forms
      ngx-ssr-app:
        flags:
          - ngx-ssr-app
      renovate:
        flags:
          - renovate
      typedoc:
        flags:
          - typedoc
      utils:
        flags:
          - utils
      workspace:
        flags:
          - workspace
flags:
  devkit:
    paths:
      - packages/devkit
  ngx-async-injector:
    paths:
      - packages/ngx-async-injector
  ngx-forms:
    paths:
      - packages/ngx-forms
  ngx-ssr-app:
    paths:
      - packages/ngx-ssr-app
  renovate:
    paths:
      - packages/renovate
  utils:
    paths:
      - packages/utils
  workspace:
    paths:
      - packages/workspace

fix(devkit): :boom: remove utils no longer needed to run e2e tests for nx plugins
  packages/devkit/src/index.ts
  packages/devkit/src/nx-plugin/ensure-nx-project.spec.ts
  packages/devkit/src/nx-plugin/ensure-nx-project.ts
  packages/devkit/src/nx-plugin/get-library-import-path.ts
  packages/devkit/src/nx-plugin/index.ts
  packages/devkit/src/nx-plugin/run-nx-new-command.spec.ts
  packages/devkit/src/nx-plugin/run-nx-new-command.ts
  packages/devkit/src/nx-plugin/run-package-manager-install.spec.ts
  packages/devkit/src/nx-plugin/run-package-manager-install.ts
  packages/devkit/src/nx-plugin/typescript.ts
Due: devkit

chore: remove unused packages
  packages/devkit/package.json
Due: devkit

fix(devkit): :boom: remove utils no longer needed to run e2e tests for nx plugins (#1579)
  packages/devkit/package.json
  packages/devkit/src/index.ts
  packages/devkit/src/nx-plugin/ensure-nx-project.spec.ts
  packages/devkit/src/nx-plugin/ensure-nx-project.ts
  packages/devkit/src/nx-plugin/get-library-import-path.ts
  packages/devkit/src/nx-plugin/index.ts
  packages/devkit/src/nx-plugin/run-nx-new-command.spec.ts
  packages/devkit/src/nx-plugin/run-nx-new-command.ts
  packages/devkit/src/nx-plugin/run-package-manager-install.spec.ts
  packages/devkit/src/nx-plugin/run-package-manager-install.ts
  packages/devkit/src/nx-plugin/typescript.ts
Due: devkit

feat: update to Angular 18
  nx-migrate-latest.sh
  package-lock.json
  package.json
  packages/ngx-async-injector/package.json
  packages/ngx-forms/package.json
  packages/ngx-signal-forms/package.json
Due: ngx-async-injector, ngx-forms

feat: update to Angular 18 (#1580)
  nx-migrate-latest.sh
  package-lock.json
  package.json
  packages/ngx-async-injector/package.json
  packages/ngx-forms/package.json
  packages/ngx-signal-forms/package.json
Due: ngx-async-injector, ngx-forms

feat(ngx-signal-forms): spike new control value accessor
  .vscode/extensions.json
  .vscode/settings.json
  packages/ngx-signal-forms/src/lib/control-value-accessors/input-control-value-accessor.directive.spec.ts
  packages/ngx-signal-forms/src/lib/control-value-accessors/input-control-value-accessor.directive.ts
  packages/ngx-signal-forms/src/lib/primitives/control.ts
Due: none

chore(deps): :arrow_up: update dependency @nx/devkit to ^19.4.2
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update github actions
  .github/workflows/ci.yml
  .github/workflows/migrate.yml
  .github/workflows/next.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update tooling to v7.16.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.426.5
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.427.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update dependency ts-jest to v29.2.1
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo to v19.4.3
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update nx monorepo to v19.4.3 (#1590)
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.428.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.428.1
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.428.2
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.428.3
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.429.0
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update tooling
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.432.0
  package-lock.json
  package.json
Due: none
