Repository nx-squeezer/squeezer: changes, and which Codecov flags are due for each by the changed paths.
All: devkit, ngx-async-injector, ngx-forms, ngx-ssr-app, renovate, utils, workspace

chore: upgrade additional deps
  package-lock.json
  package.json
Due: none

feat(workspace): upgrade to husky 9
  package-lock.json
  package.json
  packages/devkit/src/husky/husky.spec.ts
  packages/devkit/src/husky/husky.ts
Due: devkit

fix(workspace): simplify creation of husky hooks
  packages/devkit/src/husky/husky.spec.ts
  packages/devkit/src/husky/husky.ts
Due: devkit

fix(workspace): run husk as part of the generator
  packages/devkit/src/husky/husky.spec.ts
  packages/devkit/src/husky/husky.ts
  packages/workspace/src/generators/commitlint/generator.spec.ts
  packages/workspace/src/generators/commitlint/generator.ts
  packages/workspace/src/generators/lint-staged/generator.spec.ts
  packages/workspace/src/generators/lint-staged/generator.ts
Due: devkit, workspace

fix(deps): upgrade Angular to 17.1.0 (#1172)
  nx-migrate-latest.sh
  package-lock.json
  package.json
  packages/devkit/src/husky/husky.spec.ts
  packages/devkit/src/husky/husky.ts
  packages/workspace/src/generators/commitlint/generator.spec.ts
  packages/workspace/src/generators/commitlint/generator.ts
  packages/workspace/src/generators/lint-staged/generator.spec.ts
  packages/workspace/src/generators/lint-staged/generator.ts
Due: devkit, workspace

chore(docs): remove unneeded dependencies
  package-lock.json
  package.json
  typedoc.base.js
Due: none

chore(deps): upgrade ngx-deploy-npm to v8
  nx.json
  package-lock.json
  package.json
Due: none

chore(devkit): :package: release version 2.0.1 [skip ci]
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

chore(utils): :package: release version 1.0.4 [skip ci]
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: utils

chore(workspace): :package: release version 5.0.1 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

chore(renovate): :package: release version 3.0.1 [skip ci]
  packages/renovate/CHANGELOG.md
  packages/renovate/package.json
Due: renovate

chore(ngx-async-injector): :package: release version 3.0.1 [skip ci]
  packages/ngx-async-injector/CHANGELOG.md
  packages/ngx-async-injector/package.json
Due: ngx-async-injector

chore(ngx-forms): :package: release version 2.0.1 [skip ci]
  packages/ngx-forms/CHANGELOG.md
  packages/ngx-forms/package.json
Due: ngx-forms

chore(deps): :arrow_up: update all non-major dev dependencies
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v40
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update renovatebot/github-action action to v40 (#1167)
  .github/workflows/renovate.yml
Due: none

chore(deps): :arrow_up: update dependency husky to v9
  packages/devkit/package.json
  packages/workspace/package.json
Due: devkit, workspace

chore(deps): :arrow_up: update dependency husky to v9 (#1166)
  packages/devkit/package.json
  packages/workspace/package.json
Due: devkit, workspace

fix(deps): :arrow_up: update all non-major dependencies
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update all non-major dependencies (#1165)
  package-lock.json
  package.json
Due: none

chore(deps): :arrow_up: update codecov/codecov-action action to v4
  .github/workflows/ci.yml
Due: none

chore(deps): :arrow_up: update codecov/codecov-action action to v4 (#1174)
  .github/workflows/ci.yml
Due: none

chore(deps): :arrow_up: update peter-evans/create-pull-request action to v6
  .github/workflows/migrate.yml
Due: none

chore(deps): :arrow_up: update peter-evans/create-pull-request action to v6 (#1175)
  .github/workflows/migrate.yml
Due: none

fix: solve issue with npm deploy
  nx.json
Due: none

chore(devkit): :package: release version 2.0.2 [skip ci]
  packages/devkit/CHANGELOG.md
  packages/devkit/package.json
Due: devkit

chore(workspace): :package: release version 5.0.2 [skip ci]
  packages/workspace/CHANGELOG.md
  packages/workspace/package.json
Due: workspace

chore: update config for eslint
  .vscode/extensions.json
  .vscode/settings.json
Due: none

fix(deps): upgrade to nx 17.3
  package-lock.json
  package.json
Due: none

chore(deps): :lock: refresh
  package-lock.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.162.2
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency renovate to v37.163.0
  package-lock.json
  package.json
Due: none

fix(deps): :arrow_up: update dependency lint-staged to v15.2.1
  package-lock.json
  package.json
Due: none

Path conditions:
  devkit: any of: packages/devkit
  ngx-async-injector: any of: packages/ngx-async-injector
  ngx-forms: any of: packages/ngx-forms
  ngx-ssr-app: any of: packages/ngx-ssr-app
  renovate: any of: packages/renovate
  utils: any of: packages/utils
  workspace: any of: packages/workspace
